<a href="https://colab.research.google.com/github/duybluemind1988/Data-science/blob/master/Kaggle_project_credit_default_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Base ML method

## Get data

In [33]:
import pandas as pd
import sklearn as sk
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder,LabelEncoder,OrdinalEncoder
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
import time
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.metrics import classification_report,roc_curve, auc,precision_recall_curve,f1_score,balanced_accuracy_score

In [3]:
import zipfile
path_to_zip_file='/content/drive/My Drive/Data/home-credit-default-risk.zip'
with zipfile.ZipFile(path_to_zip_file, 'r') as zip_ref:
    zip_ref.extractall()

In [21]:
# Training data
app_train = pd.read_csv('/content/application_train.csv')
print('Training data shape: ', app_train.shape)
app_train.head()

Training data shape:  (307511, 122)

   SK_ID_CURR  TARGET  ... AMT_REQ_CREDIT_BUREAU_QRT AMT_REQ_CREDIT_BUREAU_YEAR
0      100002       1  ...                       0.0                        1.0
1      100003       0  ...                       0.0                        0.0
2      100004       0  ...                       0.0                        0.0
3      100006       0  ...                       NaN                        NaN
4      100007       0  ...                       0.0                        0.0

[5 rows x 122 columns]

In [22]:
app_train.dtypes

SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
                               ...
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 122, dtype: object

## Feature engineer

Label encoder object

In [23]:
categorical_features = app_train.select_dtypes(include=['object']).columns
for feature in categorical_features:
    #train[feature]=pd.Categorical(train[feature])
    app_train[feature]=str(app_train[feature].values)
    app_train[feature]=LabelEncoder().fit_transform(app_train[feature])

Label encoder numeric (for all numeric column <=7 unique value)

In [24]:
numeric_features = app_train.drop('TARGET',axis=1).select_dtypes(exclude=['object']).columns
for feature in numeric_features:
    if len(list(app_train[feature].unique())) <= 7:
        #train[feature]=pd.Categorical(train[feature])
        app_train[feature]=str(app_train[feature].values)
        app_train[feature]=LabelEncoder().fit_transform(app_train[feature])

In [25]:
app_train

        SK_ID_CURR  ...  AMT_REQ_CREDIT_BUREAU_YEAR
0           100002  ...                         1.0
1           100003  ...                         0.0
2           100004  ...                         0.0
3           100006  ...                         NaN
4           100007  ...                         0.0
...            ...  ...                         ...
307506      456251  ...                         NaN
307507      456252  ...                         NaN
307508      456253  ...                         1.0
307509      456254  ...                         0.0
307510      456255  ...                         1.0

[307511 rows x 122 columns]

In [29]:
print(app_train['TARGET'].value_counts())
print(app_train['TARGET'].value_counts(normalize=True))

0    282686
1     24825
Name: TARGET, dtype: int64
0    0.919271
1    0.080729
Name: TARGET, dtype: float64

In [32]:
dataX = app_train.drop(['TARGET'],axis=1)
dataY = app_train['TARGET']

X_train, X_test, y_train, y_test = \
    train_test_split(dataX, dataY, test_size=0.30, \
                    random_state=2018, stratify=dataY)

In [ ]:
start=time.time()
xgb=XGBClassifier(
                nthread=16,
                objective='binary:logistic',
                eval_metric = 'logloss',
                #scale_pos_weight=1,
                enable_categorical=True,
                seed=2018,
                verbosity=1    
                              )
xgb.fit(X_train, y_train)
end=time.time()
print("time: ",end-start) # 65 s

In [37]:
y_test

141933    0
189485    1
54773     0
263712    0
269251    0
         ..
118382    1
103254    0
86339     0
44938     0
256529    0
Name: TARGET, Length: 92254, dtype: int64

In [40]:
y_pred_probs

array([[0.86486834, 0.13513164],
       [0.7159316 , 0.2840684 ],
       [0.97378576, 0.02621426],
       ...,
       [0.9145097 , 0.08549029],
       [0.83730584, 0.16269414],
       [0.93010855, 0.06989145]], dtype=float32)

In [35]:
y_pred=xgb.predict(X_test)
y_pred_probs=xgb.predict_proba(X_test)
print("f1 score",f1_score(y_test,y_pred))
print("balanced_accuracy_score:",balanced_accuracy_score(y_test,y_pred))
print("AUC:",auc(y_test,y_pred_probs))
print('classification_report \n',classification_report(y_test, y_pred))

f1 score 0.01224381155177003
balanced_accuracy_score: 0.502970161151022

ValueError: ignored

In [ ]:
start=time.time()
lgbm=LGBMClassifier(
    n_estimators = 200,
    boosting_type = 'gbdt',
    objective = 'binary',
    metric= 'binary:logloss',
    metric_freq=50,
    learning_rate=0.01,
    max_depth=4,
    num_leaves= 16, #(2^maxdepth)
    min_data_in_leaf=2000,
    scale_pos_weight=1,
    num_threads=16,
    random_state =500,
    bagging_freq=0,
                                )

lgbm.fit(X_train, y_train)
end=time.time() 
print("time: ",end-start) # 9s vs 33 s H2o light gbm

y_pred=lgbm.predict(X_test)
y_pred_probs=lgbm.predict_proba(X_test)

print("f1 score",f1_score(y_test,y_pred))
print("balanced_accuracy_score:",balanced_accuracy_score(y_test,y_pred))
print("AUC:",auc(y_test,y_pred))
print('classification_report \n',classification_report(y_test, y_pred))