<a href="https://colab.research.google.com/github/duybluemind1988/Data-science/blob/master/NLP/Kaggle_news_summary/Kaggle_new_summary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.kaggle.com/sunnysai12345/news-summary/notebooks

In [1]:
import pandas as pd
import numpy as np

In [3]:
summary = pd.read_csv('/content/drive/My Drive/Data/NLP/Kaggle_new_summary/news_summary.csv', encoding='iso-8859-1')
raw = pd.read_csv('/content/drive/My Drive/Data/NLP/Kaggle_new_summary/news_summary_more.csv', encoding='iso-8859-1')

In [8]:
print(summary.shape)
print(raw.shape)

(4514, 6)
(98401, 2)

In [6]:
summary.head(2)

         author  ...                                              ctext
0  Chhavi Tyagi  ...  The Daman and Diu administration on Wednesday ...
1   Daisy Mowke  ...  From her special numbers to TV?appearances, Bo...

[2 rows x 6 columns]

In [7]:
raw.head(2)

                                           headlines                                               text
0  upGrad learner switches to career in ML & Al w...  Saurav Kant, an alumnus of upGrad and IIIT-B's...
1  Delhi techie wins free food from Swiggy for on...  Kunal Shah's credit card bill payment platform...