<a href="https://colab.research.google.com/github/duybluemind1988/Data-science/blob/master/NLP/Kaggle_upvoted_dataset/Kaggle_NLP_upvoted_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.kaggle.com/canggih/voted-kaggle-dataset/notebooks

In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv('https://github.com/duybluemind1988/Data-science/blob/master/NLP/Kaggle_upvoted_dataset/voted-kaggle-dataset.csv?raw=true')
print(data.shape)
data.head()

(2150, 15)

                         Title  ...                                        Description
0  Credit Card Fraud Detection  ...  The datasets contains transactions made by cre...
1     European Soccer Database  ...  The ultimate Soccer database for data analysis...
2      TMDB 5000 Movie Dataset  ...  Background\nWhat can we say about the success ...
3    Global Terrorism Database  ...  Context\nInformation on more than 170,000 Terr...
4      Bitcoin Historical Data  ...  Context\nBitcoin is the longest running and mo...

[5 rows x 15 columns]

In [6]:
data.Description[0]

"The datasets contains transactions made by credit cards in September 2013 by european cardholders. This dataset presents transactions that occurred in two days, where we have 492 frauds out of 284,807 transactions. The dataset is highly unbalanced, the positive class (frauds) account for 0.172% of all transactions.\nIt contains only numerical input variables which are the result of a PCA transformation. Unfortunately, due to confidentiality issues, we cannot provide the original features and more background information about the data. Features V1, V2, ... V28 are the principal components obtained with PCA, the only features which have not been transformed with PCA are 'Time' and 'Amount'. Feature 'Time' contains the seconds elapsed between each transaction and the first transaction in the dataset. The feature 'Amount' is the transaction Amount, this feature can be used for example-dependant cost-senstive learning. Feature 'Class' is the response variable and it takes value 1 in case of fraud and 0 otherwise.\nGiven the class imbalance ratio, we recommend measuring the accuracy using the Area Under the Precision-Recall Curve (AUPRC). Confusion matrix accuracy is not meaningful for unbalanced classification.\nThe dataset has been collected and analysed during a research collaboration of Worldline and the Machine Learning Group (http://mlg.ulb.ac.be) of ULB (Université Libre de Bruxelles) on big data mining and fraud detection. More details on current and past projects on related topics are available on http://mlg.ulb.ac.be/BruFence and http://mlg.ulb.ac.be/ARTML\nPlease cite: Andrea Dal Pozzolo, Olivier Caelen, Reid A. Johnson and Gianluca Bontempi. Calibrating Probability with Undersampling for Unbalanced Classification. In Symposium on Computational Intelligence and Data Mining (CIDM), IEEE, 2015"

# Ch06b - Topic Modeling with gensim.ipynb

## Basic Text Wrangling

In [10]:
papers=data.Description
print(len(papers))
papers

2150

0       The datasets contains transactions made by cre...
1       The ultimate Soccer database for data analysis...
2       Background\nWhat can we say about the success ...
3       Context\nInformation on more than 170,000 Terr...
4       Context\nBitcoin is the longest running and mo...
                              ...
2145    Context\nFortnite: Battle Royale has over 20 m...
2146    Context\nThis dataset provides the nationaliti...
2147    lem.json\nThis file contains lementized englis...
2148    Context\nThis data set contains weather data f...
2149    Context\nBirths in U.S during 1994 to 2003.\nC...
Name: Description, Length: 2150, dtype: object

In [12]:
papers=papers.astype(str)

In [13]:
%%time
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
  

stop_words = nltk.corpus.stopwords.words('english')
wtk = nltk.tokenize.RegexpTokenizer(r'\w+')
wnl = nltk.stem.wordnet.WordNetLemmatizer()

def normalize_corpus(papers):
    norm_papers = []
    for paper in papers:
        paper = paper.lower()
        paper_tokens = [token.strip() for token in wtk.tokenize(paper)]
        paper_tokens = [wnl.lemmatize(token) for token in paper_tokens if not token.isnumeric()]
        paper_tokens = [token for token in paper_tokens if len(token) > 1]
        paper_tokens = [token for token in paper_tokens if token not in stop_words]
        paper_tokens = list(filter(None, paper_tokens))
        if paper_tokens:
            norm_papers.append(paper_tokens)
            
    return norm_papers
    
norm_papers = normalize_corpus(papers)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
CPU times: user 3.14 s, sys: 33.9 ms, total: 3.17 s
Wall time: 3.2 s

In [18]:
print(papers[0])
print(norm_papers[0])

The datasets contains transactions made by credit cards in September 2013 by european cardholders. This dataset presents transactions that occurred in two days, where we have 492 frauds out of 284,807 transactions. The dataset is highly unbalanced, the positive class (frauds) account for 0.172% of all transactions.
It contains only numerical input variables which are the result of a PCA transformation. Unfortunately, due to confidentiality issues, we cannot provide the original features and more background information about the data. Features V1, V2, ... V28 are the principal components obtained with PCA, the only features which have not been transformed with PCA are 'Time' and 'Amount'. Feature 'Time' contains the seconds elapsed between each transaction and the first transaction in the dataset. The feature 'Amount' is the transaction Amount, this feature can be used for example-dependant cost-senstive learning. Feature 'Class' is the response variable and it takes value 1 in case of fraud and 0 otherwise.
Given the class imbalance ratio, we recommend measuring the accuracy using the Area Under the Precision-Recall Curve (AUPRC). Confusion matrix accuracy is not meaningful for unbalanced classification.
The dataset has been collected and analysed during a research collaboration of Worldline and the Machine Learning Group (http://mlg.ulb.ac.be) of ULB (Université Libre de Bruxelles) on big data mining and fraud detection. More details on current and past projects on related topics are available on http://mlg.ulb.ac.be/BruFence and http://mlg.ulb.ac.be/ARTML
Please cite: Andrea Dal Pozzolo, Olivier Caelen, Reid A. Johnson and Gianluca Bontempi. Calibrating Probability with Undersampling for Unbalanced Classification. In Symposium on Computational Intelligence and Data Mining (CIDM), IEEE, 2015
['datasets', 'contains', 'transaction', 'made', 'credit', 'card', 'september', 'european', 'cardholder', 'dataset', 'present', 'transaction', 'occurred', 'two', 'day', 'fraud', 'transaction', 'dataset', 'highly', 'unbalanced', 'positive', 'class', 'fraud', 'account', 'transaction', 'contains', 'numerical', 'input', 'variable', 'result', 'pca', 'transformation', 'unfortunately', 'due', 'confidentiality', 'issue', 'cannot', 'provide', 'original', 'feature', 'background', 'information', 'data', 'feature', 'v1', 'v2', 'v28', 'principal', 'component', 'obtained', 'pca', 'feature', 'transformed', 'pca', 'time', 'amount', 'feature', 'time', 'contains', 'second', 'elapsed', 'transaction', 'first', 'transaction', 'dataset', 'feature', 'amount', 'transaction', 'amount', 'feature', 'used', 'example', 'dependant', 'cost', 'senstive', 'learning', 'feature', 'class', 'response', 'variable', 'take', 'value', 'case', 'fraud', 'otherwise', 'given', 'class', 'imbalance', 'ratio', 'recommend', 'measuring', 'accuracy', 'using', 'area', 'precision', 'recall', 'curve', 'auprc', 'confusion', 'matrix', 'accuracy', 'meaningful', 'unbalanced', 'classification', 'dataset', 'ha', 'collected', 'analysed', 'research', 'collaboration', 'worldline', 'machine', 'learning', 'group', 'http', 'mlg', 'ulb', 'ac', 'ulb', 'université', 'libre', 'de', 'bruxelles', 'big', 'data', 'mining', 'fraud', 'detection', 'detail', 'current', 'past', 'project', 'related', 'topic', 'available', 'http', 'mlg', 'ulb', 'ac', 'brufence', 'http', 'mlg', 'ulb', 'ac', 'artml', 'please', 'cite', 'andrea', 'dal', 'pozzolo', 'olivier', 'caelen', 'reid', 'johnson', 'gianluca', 'bontempi', 'calibrating', 'probability', 'undersampling', 'unbalanced', 'classification', 'symposium', 'computational', 'intelligence', 'data', 'mining', 'cidm', 'ieee']

## Text Representation with Feature Engineering

In [ ]:
import gensim

bigram = gensim.models.Phrases(norm_papers, min_count=20, threshold=20, delimiter=b'_') 
# higher threshold fewer phrases.
bigram_model = gensim.models.phrases.Phraser(bigram)

In [20]:
norm_corpus_bigrams = [bigram_model[doc] for doc in norm_papers]
print(norm_corpus_bigrams[0])

['datasets', 'contains', 'transaction', 'made', 'credit', 'card', 'september', 'european', 'cardholder', 'dataset', 'present', 'transaction', 'occurred', 'two', 'day', 'fraud', 'transaction', 'dataset', 'highly', 'unbalanced', 'positive', 'class', 'fraud', 'account', 'transaction', 'contains', 'numerical', 'input', 'variable', 'result', 'pca', 'transformation', 'unfortunately', 'due', 'confidentiality', 'issue', 'cannot', 'provide', 'original', 'feature', 'background', 'information', 'data', 'feature', 'v1', 'v2', 'v28', 'principal', 'component', 'obtained', 'pca', 'feature', 'transformed', 'pca', 'time', 'amount', 'feature', 'time', 'contains', 'second', 'elapsed', 'transaction', 'first', 'transaction', 'dataset', 'feature', 'amount', 'transaction', 'amount', 'feature', 'used', 'example', 'dependant', 'cost', 'senstive', 'learning', 'feature', 'class', 'response', 'variable', 'take', 'value', 'case', 'fraud', 'otherwise', 'given', 'class', 'imbalance', 'ratio', 'recommend', 'measuring', 'accuracy', 'using', 'area', 'precision', 'recall', 'curve', 'auprc', 'confusion', 'matrix', 'accuracy', 'meaningful', 'unbalanced', 'classification', 'dataset', 'ha', 'collected', 'analysed', 'research', 'collaboration', 'worldline', 'machine_learning', 'group', 'http', 'mlg', 'ulb', 'ac', 'ulb', 'université', 'libre', 'de', 'bruxelles', 'big', 'data', 'mining', 'fraud', 'detection', 'detail', 'current', 'past', 'project', 'related', 'topic', 'available', 'http', 'mlg', 'ulb', 'ac', 'brufence', 'http', 'mlg', 'ulb', 'ac', 'artml', 'please_cite', 'andrea', 'dal', 'pozzolo', 'olivier', 'caelen', 'reid', 'johnson', 'gianluca', 'bontempi', 'calibrating', 'probability', 'undersampling', 'unbalanced', 'classification', 'symposium', 'computational', 'intelligence', 'data', 'mining', 'cidm', 'ieee']

In [21]:
# Create a dictionary representation of the documents.
# Dictionary encapsulates the mapping between normalized words and their integer ids.
dictionary = gensim.corpora.Dictionary(norm_corpus_bigrams)

In [22]:
print('Sample word to number mappings:', list(dictionary.items())[:15])
print('Total Vocabulary Size:', len(dictionary))

Sample word to number mappings: [(0, 'ac'), (1, 'account'), (2, 'accuracy'), (3, 'amount'), (4, 'analysed'), (5, 'andrea'), (6, 'area'), (7, 'artml'), (8, 'auprc'), (9, 'available'), (10, 'background'), (11, 'big'), (12, 'bontempi'), (13, 'brufence'), (14, 'bruxelles')]
Total Vocabulary Size: 32097

In [23]:
# Filter out words that occur less than 20 documents, or more than 50% of the documents.
dictionary.filter_extremes(no_below=20, no_above=0.6)
print('Sample word to number mappings:', list(dictionary.items())[:15])
print('Total Vocabulary Size:', len(dictionary))

Sample word to number mappings: [(0, 'ac'), (1, 'account'), (2, 'accuracy'), (3, 'amount'), (4, 'area'), (5, 'available'), (6, 'background'), (7, 'big'), (8, 'cannot'), (9, 'card'), (10, 'case'), (11, 'class'), (12, 'classification'), (13, 'collected'), (14, 'component')]
Total Vocabulary Size: 1821

In [25]:
# Transforming corpus into bag of words vectors
bow_corpus = [dictionary.doc2bow(text) for text in norm_corpus_bigrams]
print(bow_corpus[0][:50])

[(0, 3), (1, 1), (2, 2), (3, 3), (4, 1), (5, 1), (6, 1), (7, 1), (8, 1), (9, 1), (10, 1), (11, 3), (12, 2), (13, 1), (14, 1), (15, 1), (16, 3), (17, 1), (18, 1), (19, 1), (20, 1), (21, 1), (22, 1), (23, 1), (24, 1), (25, 1), (26, 1), (27, 1), (28, 7), (29, 1), (30, 1), (31, 1), (32, 1), (33, 1), (34, 3), (35, 1), (36, 1), (37, 1), (38, 1), (39, 1), (40, 1), (41, 1), (42, 1), (43, 1), (44, 2), (45, 1), (46, 1), (47, 1), (48, 1), (49, 1)]

doc2bow: Convert document (a list of words) into the bag-of-words format = list of (token_id, token_count) 2-tuples. Each word is assumed to be a tokenized and normalized string (either unicode or utf8-encoded). No further preprocessing is done on the words in document; apply tokenization, stemming etc. before calling this method.

If allow_update is set, then also update dictionary in the process: create ids for new words. At the same time, update document frequencies -- for each word appearing in this document, increase its document frequency (self.dfs) by one.

If allow_update is not set, this function is const, aka read-only.

In [26]:
print([(dictionary[idx] , freq) for idx, freq in bow_corpus[1][:50]])

[('card', 1), ('case', 1), ('class', 2), ('day', 1), ('european', 1), ('feature', 1), ('first', 1), ('ha', 3), ('http', 2), ('machine_learning', 1), ('original', 2), ('probability', 2), ('project', 1), ('time', 2), ('using', 2), ('value', 1), ('able', 2), ('access', 2), ('achieved', 1), ('across', 1), ('adding', 1), ('algorithm', 1), ('also', 3), ('analysis', 1), ('api', 1), ('appears', 1), ('ask', 1), ('asset', 1), ('attribute', 5), ('away', 1), ('base', 1), ('called', 1), ('changed', 1), ('classifier', 1), ('click', 2), ('co', 1), ('collection', 1), ('column', 1), ('com', 3), ('come', 1), ('commercial', 1), ('compare', 1), ('containing', 1), ('coordinate', 1), ('could', 1), ('country', 1), ('crawling', 2), ('cross', 1), ('database', 2), ('design', 1)]

In [27]:
print('Total number of papers:', len(bow_corpus))

Total number of papers: 2150

## Topic Models with Latent Semantic Indexing (LSI)

In [47]:
%%time
TOTAL_TOPICS = 20
lsi_bow = gensim.models.LsiModel(bow_corpus, id2word=dictionary, num_topics=TOTAL_TOPICS,
                                 onepass=True, chunksize=1740, power_iters=1000)

CPU times: user 2min, sys: 46.6 s, total: 2min 47s
Wall time: 1min 24s

In [48]:
for topic_id, topic in lsi_bow.print_topics(num_topics=20, num_words=20):
    print('Topic #'+str(topic_id+1)+':')
    print(topic)
    print()

Topic #1:
0.879*"university" + 0.124*"player" + 0.101*"number" + 0.091*"wa" + 0.090*"college" + 0.088*"year" + 0.088*"time" + 0.085*"file" + 0.079*"team" + 0.075*"csv" + 0.069*"one" + 0.066*"information" + 0.064*"name" + 0.063*"ha" + 0.060*"date" + 0.049*"value" + 0.046*"institute" + 0.045*"used" + 0.045*"new" + 0.045*"university_california"

Topic #2:
-0.452*"university" + 0.294*"player" + 0.207*"number" + 0.183*"team" + 0.176*"year" + 0.176*"time" + 0.172*"wa" + 0.168*"file" + 0.146*"csv" + 0.134*"one" + 0.130*"name" + 0.124*"date" + 0.122*"information" + 0.121*"ha" + 0.100*"goal" + 0.098*"value" + 0.088*"game" + 0.086*"code" + 0.085*"used" + 0.080*"use"

Topic #3:
-0.678*"player" + -0.394*"team" + -0.237*"goal" + -0.151*"zone" + 0.135*"file" + -0.134*"game" + -0.129*"allowed" + 0.110*"csv" + 0.102*"year" + 0.091*"one" + 0.087*"date" + 0.080*"information" + -0.076*"percentage" + 0.075*"name" + 0.072*"value" + -0.068*"individual" + -0.065*"taken" + -0.065*"scored" + -0.059*"relative" + 0.058*"time"

Topic #4:
0.607*"year" + -0.252*"date" + -0.230*"file" + 0.188*"total" + -0.155*"csv" + -0.154*"one" + -0.150*"registration" + -0.145*"zero" + -0.142*"start" + -0.134*"application" + -0.132*"time" + 0.123*"given" + -0.119*"position" + -0.119*"numeric" + -0.115*"containing" + 0.107*"energy" + -0.104*"text" + 0.095*"state" + -0.094*"element" + 0.088*"child"

Topic #5:
0.633*"csv" + -0.302*"date" + -0.200*"number" + -0.191*"year" + 0.169*"integer" + -0.166*"registration" + -0.163*"zero" + -0.153*"time" + -0.140*"start" + -0.135*"application" + -0.121*"position" + -0.119*"one" + 0.115*"movie" + -0.114*"code" + -0.113*"containing" + -0.102*"element" + 0.097*"user" + -0.095*"section" + 0.087*"numeric" + -0.083*"mark"

Topic #6:
0.856*"integer" + -0.356*"csv" + -0.118*"year" + 0.107*"movie" + 0.092*"point" + 0.092*"people" + 0.088*"categorical" + 0.085*"always" + 0.076*"music" + 0.063*"preference" + 0.062*"interest" + 0.059*"lot" + 0.056*"item" + 0.048*"enjoy" + -0.048*"player" + 0.041*"money" + 0.039*"team" + 0.039*"life" + 0.038*"time" + 0.037*"often"

Topic #7:
0.774*"numeric" + 0.499*"text" + -0.272*"csv" + -0.111*"integer" + 0.069*"word" + -0.062*"date" + -0.054*"file" + 0.051*"open" + -0.045*"time" + 0.043*"food" + -0.042*"movie" + 0.039*"language" + 0.039*"product" + 0.037*"student" + -0.036*"number" + -0.035*"one" + -0.035*"registration" + 0.035*"database" + -0.034*"zero" + 0.034*"use"

Topic #8:
-0.499*"csv" + -0.354*"year" + -0.293*"integer" + -0.289*"numeric" + -0.164*"date" + 0.143*"image" + 0.123*"word" + 0.111*"use" + -0.104*"total" + -0.103*"registration" + -0.099*"zero" + 0.098*"user" + 0.095*"language" + 0.091*"information" + 0.090*"wa" + 0.084*"using" + -0.083*"time" + -0.083*"position" + -0.081*"given" + -0.080*"application"

Topic #9:
0.312*"year" + 0.262*"file" + -0.262*"name" + -0.246*"value" + -0.240*"de" + 0.213*"image" + 0.165*"movie" + -0.160*"number" + 0.157*"total" + -0.143*"fire" + 0.138*"user" + 0.128*"word" + -0.112*"unit" + -0.109*"csv" + -0.108*"code" + -0.105*"state" + 0.104*"given" + -0.101*"event" + -0.101*"day" + -0.100*"city"

Topic #10:
0.588*"image" + -0.314*"de" + -0.247*"user" + -0.206*"movie" + -0.165*"en" + 0.150*"label" + -0.142*"per" + 0.134*"class" + 0.127*"value" + -0.105*"number" + -0.101*"word" + -0.100*"le" + -0.100*"rating" + 0.099*"sample" + -0.096*"language" + 0.096*"point" + -0.095*"com" + -0.095*"tag" + -0.093*"la" + -0.089*"ha"

Topic #11:
-0.444*"de" + -0.277*"value" + -0.264*"image" + -0.226*"en" + -0.223*"per" + 0.168*"child" + -0.150*"le" + 0.142*"police" + 0.134*"fire" + 0.129*"age" + -0.127*"file" + -0.123*"year" + -0.122*"la" + -0.116*"com" + 0.115*"information" + -0.111*"station" + 0.109*"woman" + 0.106*"death" + 0.105*"state" + 0.098*"survey"

Topic #12:
0.320*"de" + 0.290*"image" + -0.277*"user" + -0.240*"value" + -0.190*"file" + -0.188*"station" + 0.180*"en" + -0.176*"movie" + 0.170*"child" + 0.168*"number" + 0.165*"per" + -0.139*"id" + 0.132*"word" + -0.131*"name" + 0.110*"age" + -0.107*"event" + 0.100*"le" + -0.097*"tag" + 0.097*"la" + 0.096*"language"

Topic #13:
-0.343*"child" + -0.280*"number" + -0.276*"word" + 0.210*"fire" + -0.183*"age" + -0.177*"language" + 0.150*"de" + -0.141*"value" + -0.136*"name" + 0.134*"national" + 0.118*"department" + 0.118*"code" + -0.112*"sample" + 0.110*"information" + -0.108*"station" + 0.103*"en" + 0.103*"state" + -0.102*"corpus" + 0.101*"service" + 0.100*"center"

Topic #14:
0.376*"race" + 0.319*"time" + -0.283*"image" + -0.236*"file" + -0.234*"name" + 0.174*"word" + 0.170*"point" + -0.159*"number" + -0.149*"child" + -0.145*"player" + 0.143*"section" + -0.136*"age" + 0.118*"taken" + -0.109*"code" + 0.102*"match" + 0.100*"team" + 0.092*"language" + 0.089*"position" + -0.087*"rating" + -0.085*"movie"

Topic #15:
0.365*"word" + -0.365*"user" + -0.340*"race" + 0.248*"language" + -0.196*"time" + -0.175*"number" + 0.171*"file" + -0.155*"image" + 0.131*"corpus" + -0.123*"tweet" + -0.116*"movie" + -0.112*"age" + -0.109*"id" + 0.105*"code" + -0.104*"section" + 0.097*"fire" + -0.097*"rating" + 0.092*"team" + -0.089*"game" + -0.087*"police"

Topic #16:
0.317*"number" + -0.285*"file" + -0.248*"team" + -0.218*"police" + 0.178*"player" + 0.165*"game" + 0.163*"fire" + -0.162*"woman" + -0.157*"station" + -0.154*"point" + -0.149*"age" + -0.146*"total" + -0.145*"child" + 0.143*"user" + -0.140*"property" + -0.126*"goal" + 0.122*"word" + -0.117*"population" + 0.116*"wa" + 0.113*"language"

Topic #17:
-0.229*"race" + -0.223*"fire" + -0.222*"user" + 0.198*"station" + -0.190*"word" + -0.178*"point" + -0.176*"image" + -0.155*"name" + -0.153*"child" + 0.153*"feature" + 0.152*"game" + -0.139*"taken" + -0.130*"time" + -0.125*"team" + -0.114*"unit" + 0.108*"match" + -0.107*"language" + -0.106*"file" + -0.106*"state" + 0.102*"player"

Topic #18:
-0.292*"police" + -0.248*"station" + 0.236*"drug" + 0.215*"plan" + 0.207*"survey" + 0.192*"rating" + 0.192*"race" + 0.190*"health" + -0.184*"crime" + -0.144*"fire" + -0.132*"location" + -0.127*"user" + -0.117*"woman" + -0.116*"death" + -0.113*"wa" + 0.112*"sample" + 0.111*"disease" + 0.105*"taken" + -0.100*"feature" + -0.099*"incident"

Topic #19:
0.350*"race" + 0.279*"file" + 0.278*"station" + -0.252*"user" + 0.181*"feature" + 0.176*"fire" + -0.150*"event" + -0.134*"team" + -0.131*"date" + -0.121*"sample" + -0.115*"tweet" + -0.112*"monitor" + 0.107*"player" + -0.106*"value" + 0.105*"section" + 0.100*"id" + 0.099*"contains" + -0.098*"parameter" + 0.098*"number" + 0.097*"game"

Topic #20:
0.313*"police" + -0.240*"price" + -0.236*"name" + -0.234*"team" + -0.215*"point" + -0.211*"match" + 0.168*"player" + 0.162*"crime" + 0.162*"woman" + -0.159*"sale" + 0.146*"value" + 0.119*"drug" + 0.112*"plan" + 0.107*"survey" + 0.107*"health" + 0.107*"word" + 0.102*"death" + 0.098*"taken" + 0.097*"station" + 0.097*"race"

Let’s take a moment to understand these results. A brief recap on the LSI model— it is based on the principle that words that are used in the same contexts tend to have similar meanings. You can observe in this output that each topic is a combination of terms (which basically tend to convey an overall sense of the topic) and weights. Now the problem here is that we have both positive and negative weights. What does that mean?

Based on existing research and my interpretations, considering we are reducing the dimensionality here to a 10-dimensional space based on the number of topics, the sign on each term indicates a sense of direction or orientation in the vector space for a particular topic. The higher the weight, the more important the contribution. So similar correlated terms have the same sign or direction. Hence, it is perfectly possible for a topic to have two different sub-themes based on the sign or orientation of terms. Let’s separate these terms and try to interpret the topics again.

In [49]:
for n in range(TOTAL_TOPICS):
    print('Topic #'+str(n+1)+':')
    print('='*50)
    d1 = []
    d2 = []
    for term, wt in lsi_bow.show_topic(n, topn=20):
        if wt >= 0:
            d1.append((term, round(wt, 3)))
        else:
            d2.append((term, round(wt, 3)))

    print('Direction 1:', d1)
    print('-'*50)
    print('Direction 2:', d2)
    print('-'*50)
    print()

Topic #1:
==================================================
Direction 1: [('university', 0.879), ('player', 0.124), ('number', 0.101), ('wa', 0.091), ('college', 0.09), ('year', 0.088), ('time', 0.088), ('file', 0.085), ('team', 0.079), ('csv', 0.075), ('one', 0.069), ('information', 0.066), ('name', 0.064), ('ha', 0.063), ('date', 0.06), ('value', 0.049), ('institute', 0.046), ('used', 0.045), ('new', 0.045), ('university_california', 0.045)]
--------------------------------------------------
Direction 2: []
--------------------------------------------------

Topic #2:
==================================================
Direction 1: [('player', 0.294), ('number', 0.207), ('team', 0.183), ('year', 0.176), ('time', 0.176), ('wa', 0.172), ('file', 0.168), ('csv', 0.146), ('one', 0.134), ('name', 0.13), ('date', 0.124), ('information', 0.122), ('ha', 0.121), ('goal', 0.1), ('value', 0.098), ('game', 0.088), ('code', 0.086), ('used', 0.085), ('use', 0.08)]
--------------------------------------------------
Direction 2: [('university', -0.452)]
--------------------------------------------------

Topic #3:
==================================================
Direction 1: [('file', 0.135), ('csv', 0.11), ('year', 0.102), ('one', 0.091), ('date', 0.087), ('information', 0.08), ('name', 0.075), ('value', 0.072), ('time', 0.058)]
--------------------------------------------------
Direction 2: [('player', -0.678), ('team', -0.394), ('goal', -0.237), ('zone', -0.151), ('game', -0.134), ('allowed', -0.129), ('percentage', -0.076), ('individual', -0.068), ('taken', -0.065), ('scored', -0.065), ('relative', -0.059)]
--------------------------------------------------

Topic #4:
==================================================
Direction 1: [('year', 0.607), ('total', 0.188), ('given', 0.123), ('energy', 0.107), ('state', 0.095), ('child', 0.088)]
--------------------------------------------------
Direction 2: [('date', -0.252), ('file', -0.23), ('csv', -0.155), ('one', -0.154), ('registration', -0.15), ('zero', -0.145), ('start', -0.142), ('application', -0.134), ('time', -0.132), ('position', -0.119), ('numeric', -0.119), ('containing', -0.115), ('text', -0.104), ('element', -0.094)]
--------------------------------------------------

Topic #5:
==================================================
Direction 1: [('csv', 0.633), ('integer', 0.169), ('movie', 0.115), ('user', 0.097), ('numeric', 0.087)]
--------------------------------------------------
Direction 2: [('date', -0.302), ('number', -0.2), ('year', -0.191), ('registration', -0.166), ('zero', -0.163), ('time', -0.153), ('start', -0.14), ('application', -0.135), ('position', -0.121), ('one', -0.119), ('code', -0.114), ('containing', -0.113), ('element', -0.102), ('section', -0.095), ('mark', -0.083)]
--------------------------------------------------

Topic #6:
==================================================
Direction 1: [('integer', 0.856), ('movie', 0.107), ('point', 0.092), ('people', 0.092), ('categorical', 0.088), ('always', 0.085), ('music', 0.076), ('preference', 0.063), ('interest', 0.062), ('lot', 0.059), ('item', 0.056), ('enjoy', 0.048), ('money', 0.041), ('team', 0.039), ('life', 0.039), ('time', 0.038), ('often', 0.037)]
--------------------------------------------------
Direction 2: [('csv', -0.356), ('year', -0.118), ('player', -0.048)]
--------------------------------------------------

Topic #7:
==================================================
Direction 1: [('numeric', 0.774), ('text', 0.499), ('word', 0.069), ('open', 0.051), ('food', 0.043), ('language', 0.039), ('product', 0.039), ('student', 0.037), ('database', 0.035), ('use', 0.034)]
--------------------------------------------------
Direction 2: [('csv', -0.272), ('integer', -0.111), ('date', -0.062), ('file', -0.054), ('time', -0.045), ('movie', -0.042), ('number', -0.036), ('one', -0.035), ('registration', -0.035), ('zero', -0.034)]
--------------------------------------------------

Topic #8:
==================================================
Direction 1: [('image', 0.143), ('word', 0.123), ('use', 0.111), ('user', 0.098), ('language', 0.095), ('information', 0.091), ('wa', 0.09), ('using', 0.084)]
--------------------------------------------------
Direction 2: [('csv', -0.499), ('year', -0.354), ('integer', -0.293), ('numeric', -0.289), ('date', -0.164), ('total', -0.104), ('registration', -0.103), ('zero', -0.099), ('time', -0.083), ('position', -0.083), ('given', -0.081), ('application', -0.08)]
--------------------------------------------------

Topic #9:
==================================================
Direction 1: [('year', 0.312), ('file', 0.262), ('image', 0.213), ('movie', 0.165), ('total', 0.157), ('user', 0.138), ('word', 0.128), ('given', 0.104)]
--------------------------------------------------
Direction 2: [('name', -0.262), ('value', -0.246), ('de', -0.24), ('number', -0.16), ('fire', -0.143), ('unit', -0.112), ('csv', -0.109), ('code', -0.108), ('state', -0.105), ('event', -0.101), ('day', -0.101), ('city', -0.1)]
--------------------------------------------------

Topic #10:
==================================================
Direction 1: [('image', 0.588), ('label', 0.15), ('class', 0.134), ('value', 0.127), ('sample', 0.099), ('point', 0.096)]
--------------------------------------------------
Direction 2: [('de', -0.314), ('user', -0.247), ('movie', -0.206), ('en', -0.165), ('per', -0.142), ('number', -0.105), ('word', -0.101), ('le', -0.1), ('rating', -0.1), ('language', -0.096), ('com', -0.095), ('tag', -0.095), ('la', -0.093), ('ha', -0.089)]
--------------------------------------------------

Topic #11:
==================================================
Direction 1: [('child', 0.168), ('police', 0.142), ('fire', 0.134), ('age', 0.129), ('information', 0.115), ('woman', 0.109), ('death', 0.106), ('state', 0.105), ('survey', 0.098)]
--------------------------------------------------
Direction 2: [('de', -0.444), ('value', -0.277), ('image', -0.264), ('en', -0.226), ('per', -0.223), ('le', -0.15), ('file', -0.127), ('year', -0.123), ('la', -0.122), ('com', -0.116), ('station', -0.111)]
--------------------------------------------------

Topic #12:
==================================================
Direction 1: [('de', 0.32), ('image', 0.29), ('en', 0.18), ('child', 0.17), ('number', 0.168), ('per', 0.165), ('word', 0.132), ('age', 0.11), ('le', 0.1), ('la', 0.097), ('language', 0.096)]
--------------------------------------------------
Direction 2: [('user', -0.277), ('value', -0.24), ('file', -0.19), ('station', -0.188), ('movie', -0.176), ('id', -0.139), ('name', -0.131), ('event', -0.107), ('tag', -0.097)]
--------------------------------------------------

Topic #13:
==================================================
Direction 1: [('fire', 0.21), ('de', 0.15), ('national', 0.134), ('department', 0.118), ('code', 0.118), ('information', 0.11), ('en', 0.103), ('state', 0.103), ('service', 0.101), ('center', 0.1)]
--------------------------------------------------
Direction 2: [('child', -0.343), ('number', -0.28), ('word', -0.276), ('age', -0.183), ('language', -0.177), ('value', -0.141), ('name', -0.136), ('sample', -0.112), ('station', -0.108), ('corpus', -0.102)]
--------------------------------------------------

Topic #14:
==================================================
Direction 1: [('race', 0.376), ('time', 0.319), ('word', 0.174), ('point', 0.17), ('section', 0.143), ('taken', 0.118), ('match', 0.102), ('team', 0.1), ('language', 0.092), ('position', 0.089)]
--------------------------------------------------
Direction 2: [('image', -0.283), ('file', -0.236), ('name', -0.234), ('number', -0.159), ('child', -0.149), ('player', -0.145), ('age', -0.136), ('code', -0.109), ('rating', -0.087), ('movie', -0.085)]
--------------------------------------------------

Topic #15:
==================================================
Direction 1: [('word', 0.365), ('language', 0.248), ('file', 0.171), ('corpus', 0.131), ('code', 0.105), ('fire', 0.097), ('team', 0.092)]
--------------------------------------------------
Direction 2: [('user', -0.365), ('race', -0.34), ('time', -0.196), ('number', -0.175), ('image', -0.155), ('tweet', -0.123), ('movie', -0.116), ('age', -0.112), ('id', -0.109), ('section', -0.104), ('rating', -0.097), ('game', -0.089), ('police', -0.087)]
--------------------------------------------------

Topic #16:
==================================================
Direction 1: [('number', 0.317), ('player', 0.178), ('game', 0.165), ('fire', 0.163), ('user', 0.143), ('word', 0.122), ('wa', 0.116), ('language', 0.113)]
--------------------------------------------------
Direction 2: [('file', -0.285), ('team', -0.248), ('police', -0.218), ('woman', -0.162), ('station', -0.157), ('point', -0.154), ('age', -0.149), ('total', -0.146), ('child', -0.145), ('property', -0.14), ('goal', -0.126), ('population', -0.117)]
--------------------------------------------------

Topic #17:
==================================================
Direction 1: [('station', 0.198), ('feature', 0.153), ('game', 0.152), ('match', 0.108), ('player', 0.102)]
--------------------------------------------------
Direction 2: [('race', -0.229), ('fire', -0.223), ('user', -0.222), ('word', -0.19), ('point', -0.178), ('image', -0.176), ('name', -0.155), ('child', -0.153), ('taken', -0.139), ('time', -0.13), ('team', -0.125), ('unit', -0.114), ('language', -0.107), ('file', -0.106), ('state', -0.106)]
--------------------------------------------------

Topic #18:
==================================================
Direction 1: [('drug', 0.236), ('plan', 0.215), ('survey', 0.207), ('rating', 0.192), ('race', 0.192), ('health', 0.19), ('sample', 0.112), ('disease', 0.111), ('taken', 0.105)]
--------------------------------------------------
Direction 2: [('police', -0.292), ('station', -0.248), ('crime', -0.184), ('fire', -0.144), ('location', -0.132), ('user', -0.127), ('woman', -0.117), ('death', -0.116), ('wa', -0.113), ('feature', -0.1), ('incident', -0.099)]
--------------------------------------------------

Topic #19:
==================================================
Direction 1: [('race', 0.35), ('file', 0.279), ('station', 0.278), ('feature', 0.181), ('fire', 0.176), ('player', 0.107), ('section', 0.105), ('id', 0.1), ('contains', 0.099), ('number', 0.098), ('game', 0.097)]
--------------------------------------------------
Direction 2: [('user', -0.252), ('event', -0.15), ('team', -0.134), ('date', -0.131), ('sample', -0.121), ('tweet', -0.115), ('monitor', -0.112), ('value', -0.106), ('parameter', -0.098)]
--------------------------------------------------

Topic #20:
==================================================
Direction 1: [('police', 0.313), ('player', 0.168), ('crime', 0.162), ('woman', 0.162), ('value', 0.146), ('drug', 0.119), ('plan', 0.112), ('survey', 0.107), ('health', 0.107), ('word', 0.107), ('death', 0.102), ('taken', 0.098), ('station', 0.097), ('race', 0.097)]
--------------------------------------------------
Direction 2: [('price', -0.24), ('name', -0.236), ('team', -0.234), ('point', -0.215), ('match', -0.211), ('sale', -0.159)]
--------------------------------------------------

Does this make things better? Well, it’s definitely a lot better than the previous interpretation. Here we can see clear themes of modeling being applied in chips and electronic devices, classification and recognition models, neural models talking about the human brain components like cells, stimuli, neurons, cortical components, and even themes around reinforcement learning! We explore these in detail later in a more structured way. Let’s try to get the three major matrices (U, S, and VT) from our topic model, which uses SVD (based on the foundational concepts mentioned earlier)

In [50]:
term_topic = lsi_bow.projection.u
singular_values = lsi_bow.projection.s
topic_document = (gensim.matutils.corpus2dense(lsi_bow[bow_corpus], len(singular_values)).T / singular_values).T
term_topic.shape, singular_values.shape, topic_document.shape

/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:502: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.
  result = np.column_stack(sparse2full(doc, num_terms) for doc in corpus)

((1821, 20), (20,), (20, 2150))

In [51]:
document_topics = pd.DataFrame(np.round(topic_document.T, 3), 
                               columns=['T'+str(i) for i in range(1, TOTAL_TOPICS+1)])
print(document_topics.shape)
document_topics.head(15)

(2150, 20)

       T1     T2     T3     T4     T5  ...    T16    T17    T18    T19    T20
0   0.006  0.012  0.009 -0.002  0.000  ... -0.016  0.025 -0.005  0.017  0.000
1   0.020  0.043 -0.041 -0.002  0.014  ...  0.003  0.064 -0.012 -0.017 -0.031
2   0.015  0.027  0.018 -0.007  0.007  ...  0.002  0.017 -0.000 -0.021 -0.005
3   0.032  0.035  0.023 -0.016  0.000  ...  0.032 -0.017 -0.012 -0.067  0.006
4   0.007  0.013  0.008 -0.004  0.019  ... -0.002  0.011 -0.008 -0.014 -0.008
5   0.016  0.032  0.020 -0.003  0.040  ... -0.007  0.017  0.013 -0.013 -0.000
6   0.002  0.004  0.003 -0.001  0.001  ...  0.001  0.004 -0.001 -0.001  0.000
7   0.002  0.004  0.003 -0.000  0.001  ... -0.004  0.008  0.004 -0.002 -0.006
8   0.009  0.017  0.012 -0.009  0.016  ... -0.002  0.020 -0.008 -0.012 -0.004
9   0.009  0.017  0.007  0.006  0.004  ...  0.004  0.008  0.002  0.002 -0.021
10  0.004  0.007  0.006 -0.008 -0.001  ... -0.012  0.001  0.003  0.018 -0.006
11  0.010  0.020  0.010  0.009  0.004  ...  0.007  0.000  0.003 -0.004 -0.020
12  0.010  0.018  0.013 -0.000  0.020  ...  0.000  0.004 -0.007 -0.012 -0.011
13  0.018  0.035  0.043 -0.133  0.118  ... -0.024 -0.000  0.002  0.012 -0.013
14  0.007  0.008  0.004  0.023 -0.003  ...  0.008  0.013  0.003  0.010  0.005

[15 rows x 20 columns]

In [55]:
top_topics[0][1:]

'19'

In [57]:
document_numbers = [1, 5, 10]

for document_number in document_numbers:
    top_topics = list(document_topics.columns[np.argsort(-np.absolute(document_topics.iloc[document_number].values))[:3]])
    print('Document #'+str(document_number)+':')
    print('Dominant Topics (top 3):', top_topics)
    print('Paper Summary:')
    print(papers[document_number][:500])
    print('Topic model '+top_topics[0][1:]+':',lsi_bow.show_topic(int(top_topics[0][1:]), topn=20))
    print('Topic model '+top_topics[1][1:]+':',lsi_bow.show_topic(int(top_topics[1][1:]), topn=20))
    print()

Document #1:
Dominant Topics (top 3): ['T17', 'T2', 'T3']
Paper Summary:
The ultimate Soccer database for data analysis and machine learning
What you get:
+25,000 matches
+10,000 players
11 European Countries with their lead championship
Seasons 2008 to 2016
Players and Teams' attributes* sourced from EA Sports' FIFA video game series, including the weekly updates
Team line up with squad formation (X, Y coordinates)
Betting odds from up to 10 providers
Detailed match events (goal types, possession, corner, cross, fouls, cards etc...) for +10,000 matches
*16th Oct 201
Topic model 17: [('police', -0.2924384771617504), ('station', -0.24798426375102275), ('drug', 0.23643131690674565), ('plan', 0.21513466376974605), ('survey', 0.20661591026593037), ('rating', 0.19236671004567105), ('race', 0.1919343437447153), ('health', 0.18984901662405568), ('crime', -0.18405253536345698), ('fire', -0.14441848483960898), ('location', -0.1315384180137746), ('user', -0.1273879204036706), ('woman', -0.11664968655438007), ('death', -0.11638703260677678), ('wa', -0.1128321451398375), ('sample', 0.11205724639860422), ('disease', 0.11146711894606401), ('taken', 0.1050480894353286), ('feature', -0.09967846262371209), ('incident', -0.09935598940277286)]
Topic model 2: [('player', -0.677578910958172), ('team', -0.3940464304148368), ('goal', -0.23656264928185738), ('zone', -0.15124711306019448), ('file', 0.1352717752315316), ('game', -0.13359756647119775), ('allowed', -0.12940669656171266), ('csv', 0.11046645363578558), ('year', 0.10156555786775204), ('one', 0.09087393933412283), ('date', 0.08701565699597512), ('information', 0.0804350089995299), ('percentage', -0.07627993509599855), ('name', 0.07459330788052514), ('value', 0.07169754845021309), ('individual', -0.06766828687151855), ('taken', -0.06506021662159814), ('scored', -0.06459885393138377), ('relative', -0.05942473486472541), ('time', 0.05763992924033394)]

Document #5:
Dominant Topics (top 3): ['T5', 'T2', 'T11']
Paper Summary:
Context
For the first time, Kaggle conducted an industry-wide survey to establish a comprehensive view of the state of data science and machine learning. The survey received over 16,000 responses and we learned a ton about who is working with data, what’s happening at the cutting edge of machine learning across industries, and how new data scientists can best break into the field.
To share some of the initial insights from the survey, we’ve worked with the folks from The Pudding to put together
Topic model 5: [('integer', 0.8558303369204103), ('csv', -0.3560007655627152), ('year', -0.11843953713157371), ('movie', 0.106975688485878), ('point', 0.09238243803741718), ('people', 0.09161095744046643), ('categorical', 0.08822485877639168), ('always', 0.08510579110355394), ('music', 0.07618614080130515), ('preference', 0.06265756436109131), ('interest', 0.062228398544929925), ('lot', 0.059128426516308646), ('item', 0.05563414372912065), ('enjoy', 0.048183264967643975), ('player', -0.047582647417016455), ('money', 0.040527058791298635), ('team', 0.039237088394806025), ('life', 0.0391879794239862), ('time', 0.03752584807592715), ('often', 0.03658451227435939)]
Topic model 2: [('player', -0.677578910958172), ('team', -0.3940464304148368), ('goal', -0.23656264928185738), ('zone', -0.15124711306019448), ('file', 0.1352717752315316), ('game', -0.13359756647119775), ('allowed', -0.12940669656171266), ('csv', 0.11046645363578558), ('year', 0.10156555786775204), ('one', 0.09087393933412283), ('date', 0.08701565699597512), ('information', 0.0804350089995299), ('percentage', -0.07627993509599855), ('name', 0.07459330788052514), ('value', 0.07169754845021309), ('individual', -0.06766828687151855), ('taken', -0.06506021662159814), ('scored', -0.06459885393138377), ('relative', -0.05942473486472541), ('time', 0.05763992924033394)]

Document #10:
Dominant Topics (top 3): ['T19', 'T14', 'T16']
Paper Summary:
These files contain complete loan data for all loans issued through the 2007-2015, including the current loan status (Current, Late, Fully Paid, etc.) and latest payment information. The file containing loan data through the "present" contains complete loan data for all loans issued through the previous completed calendar quarter. Additional features include credit scores, number of finance inquiries, address including zip codes, and state, and collections among others. The file is a matrix of a
Topic model 19: [('police', 0.3128588551437026), ('price', -0.2404099736902586), ('name', -0.2362804984051518), ('team', -0.23388998567359673), ('point', -0.21470422083397508), ('match', -0.21138040287139537), ('player', 0.16810992021928678), ('crime', 0.1621768561107652), ('woman', 0.161825010221465), ('sale', -0.15926053300798132), ('value', 0.1461893502348703), ('drug', 0.11916556822921215), ('plan', 0.11151090366441535), ('survey', 0.10717370360550377), ('health', 0.1068285362030665), ('word', 0.10662870393637465), ('death', 0.10167088503277935), ('taken', 0.09832158507176714), ('station', 0.09740267955044828), ('race', 0.09710118307388292)]
Topic model 14: [('word', 0.3647410730005829), ('user', -0.3645749216730648), ('race', -0.3399994383347151), ('language', 0.2477049704013479), ('time', -0.1962980398941309), ('number', -0.17451247778404122), ('file', 0.17100183502430066), ('image', -0.15508001106020472), ('corpus', 0.1306953130534607), ('tweet', -0.1228217884113363), ('movie', -0.11588357615553925), ('age', -0.11211632390658081), ('id', -0.10924241236924614), ('code', 0.10451163565355795), ('section', -0.1042149691550576), ('fire', 0.09689701399383074), ('rating', -0.09682795666565036), ('team', 0.09167078537234875), ('game', -0.08924001235890998), ('police', -0.0871052119172898)]

## Topic Models with Latent Dirichlet Allocation (LDA)

In [58]:
%%time
lda_model = gensim.models.LdaModel(corpus=bow_corpus, id2word=dictionary, chunksize=1740, 
                                   alpha='auto', eta='auto', random_state=42,
                                   iterations=500, num_topics=TOTAL_TOPICS, 
                                   passes=20, eval_every=None)

CPU times: user 32.3 s, sys: 17.1 ms, total: 32.3 s
Wall time: 32.3 s

In [59]:
for topic_id, topic in lda_model.print_topics(num_topics=10, num_words=20):
    print('Topic #'+str(topic_id+1)+':')
    print(topic)
    print()

Topic #18:
0.061*"numeric" + 0.026*"temperature" + 0.024*"university_california" + 0.017*"traffic" + 0.016*"ic_uci" + 0.015*"data_set" + 0.015*"text" + 0.015*"edu_ml" + 0.015*"location" + 0.015*"http_archive" + 0.014*"wind" + 0.013*"fatality" + 0.013*"school" + 0.012*"uci_machine" + 0.012*"weather" + 0.011*"learning_repository" + 0.011*"incident" + 0.010*"acknowledgement" + 0.009*"inspiration" + 0.008*"predict"

Topic #15:
0.033*"year" + 0.025*"energy" + 0.021*"total" + 0.020*"animal" + 0.019*"india" + 0.017*"solar" + 0.016*"rate" + 0.014*"response" + 0.013*"outcome" + 0.013*"customer" + 0.012*"natural" + 0.012*"space" + 0.011*"earth" + 0.010*"range" + 0.009*"wa" + 0.008*"acknowledgement" + 0.008*"type" + 0.008*"death" + 0.008*"based" + 0.008*"inspiration"

Topic #20:
0.041*"crime" + 0.041*"time" + 0.038*"score" + 0.028*"attack" + 0.018*"number" + 0.018*"defense" + 0.014*"submission" + 0.014*"non" + 0.014*"csv" + 0.014*"request" + 0.014*"statistic" + 0.013*"image" + 0.013*"matrix" + 0.012*"police" + 0.012*"file" + 0.011*"run" + 0.010*"name" + 0.010*"date" + 0.009*"id" + 0.009*"team"

Topic #12:
0.033*"column" + 0.032*"activity" + 0.021*"sensor" + 0.020*"feature" + 0.018*"signal" + 0.017*"right" + 0.014*"using" + 0.013*"left" + 0.013*"driving" + 0.011*"label" + 0.010*"subject" + 0.010*"participant" + 0.009*"open" + 0.009*"information" + 0.009*"class" + 0.009*"recognition" + 0.008*"time" + 0.008*"help" + 0.008*"database" + 0.008*"datasets"

Topic #1:
0.231*"university" + 0.042*"college" + 0.028*"map" + 0.014*"stop" + 0.013*"institute" + 0.012*"chicago" + 0.010*"technology" + 0.009*"file" + 0.008*"washington" + 0.008*"national" + 0.008*"archive" + 0.008*"new" + 0.007*"record" + 0.007*"population" + 0.007*"district" + 0.007*"project" + 0.007*"center" + 0.007*"research" + 0.006*"state" + 0.006*"analysis"

Topic #9:
0.020*"tweet" + 0.018*"wa" + 0.013*"com" + 0.012*"twitter" + 0.012*"one" + 0.011*"time" + 0.011*"like" + 0.011*"many" + 0.011*"inspiration" + 0.010*"song" + 0.010*"user" + 0.010*"column" + 0.010*"used" + 0.009*"would" + 0.009*"site" + 0.009*"acknowledgement" + 0.008*"people" + 0.008*"could" + 0.007*"find" + 0.007*"nltk"

Topic #17:
0.023*"city" + 0.019*"time" + 0.018*"information" + 0.013*"number" + 0.012*"location" + 0.012*"date" + 0.010*"new_york" + 0.010*"property" + 0.010*"acknowledgement" + 0.009*"election" + 0.009*"event" + 0.009*"restaurant" + 0.008*"name" + 0.008*"includes" + 0.008*"one" + 0.007*"inspiration" + 0.007*"station" + 0.007*"wa" + 0.006*"food" + 0.006*"day"

Topic #19:
0.025*"year" + 0.016*"country" + 0.015*"survey" + 0.014*"age" + 0.013*"number" + 0.012*"state" + 0.011*"name" + 0.011*"variable" + 0.010*"population" + 0.008*"month" + 0.007*"source" + 0.007*"information" + 0.007*"education" + 0.007*"student" + 0.007*"gender" + 0.006*"policy" + 0.006*"acknowledgement" + 0.006*"wa" + 0.006*"data_set" + 0.006*"rate"

Topic #2:
0.010*"wa" + 0.009*"time" + 0.009*"information" + 0.008*"source" + 0.008*"many" + 0.008*"world" + 0.008*"acknowledgement" + 0.007*"inspiration" + 0.007*"available" + 0.007*"project" + 0.007*"ha" + 0.006*"database" + 0.006*"one" + 0.006*"date" + 0.006*"also" + 0.006*"use" + 0.006*"country" + 0.006*"report" + 0.005*"number" + 0.005*"people"

Topic #13:
0.011*"acknowledgement" + 0.010*"information" + 0.010*"health" + 0.009*"wa" + 0.009*"state" + 0.009*"ha" + 0.008*"inspiration" + 0.007*"government" + 0.007*"company" + 0.007*"federal" + 0.007*"service" + 0.006*"published" + 0.006*"patient" + 0.006*"database" + 0.006*"year" + 0.006*"department" + 0.006*"vehicle" + 0.006*"risk" + 0.005*"doe" + 0.005*"gov"

In [60]:
topics_coherences = lda_model.top_topics(bow_corpus, topn=20)
avg_coherence_score = np.mean([item[1] for item in topics_coherences])
print('Avg. Coherence Score:', avg_coherence_score)

Avg. Coherence Score: -2.5180356822814263

In [61]:
topics_with_wts = [item[0] for item in topics_coherences]
print('LDA Topics with Weights')
print('='*50)
for idx, topic in enumerate(topics_with_wts):
    print('Topic #'+str(idx+1)+':')
    print([(term, round(wt, 3)) for wt, term in topic])
    print()

LDA Topics with Weights
==================================================
Topic #1:
[('wa', 0.01), ('time', 0.009), ('information', 0.009), ('source', 0.008), ('many', 0.008), ('world', 0.008), ('acknowledgement', 0.008), ('inspiration', 0.007), ('available', 0.007), ('project', 0.007), ('ha', 0.007), ('database', 0.006), ('one', 0.006), ('date', 0.006), ('also', 0.006), ('use', 0.006), ('country', 0.006), ('report', 0.006), ('number', 0.005), ('people', 0.005)]

Topic #2:
[('file', 0.036), ('user', 0.026), ('movie', 0.025), ('csv', 0.024), ('tag', 0.015), ('rating', 0.013), ('id', 0.012), ('contains', 0.012), ('research', 0.011), ('use', 0.011), ('paper', 0.01), ('information', 0.01), ('ha', 0.009), ('one', 0.009), ('format', 0.009), ('value', 0.009), ('data_set', 0.008), ('used', 0.008), ('following', 0.007), ('system', 0.007)]

Topic #3:
[('image', 0.048), ('class', 0.016), ('label', 0.011), ('instance', 0.011), ('cell', 0.01), ('integer', 0.01), ('sample', 0.01), ('model', 0.01), ('number', 0.008), ('training', 0.008), ('using', 0.008), ('file', 0.007), ('classifier', 0.007), ('example', 0.007), ('different', 0.007), ('wa', 0.007), ('two', 0.007), ('machine_learning', 0.006), ('used', 0.006), ('test', 0.006)]

Topic #4:
[('attribute', 0.019), ('area', 0.012), ('variable', 0.011), ('building', 0.01), ('product', 0.01), ('per', 0.01), ('ha', 0.009), ('type', 0.009), ('day', 0.009), ('model', 0.008), ('value', 0.008), ('number', 0.008), ('feature', 0.008), ('cluster', 0.007), ('using', 0.007), ('use', 0.006), ('database', 0.006), ('one', 0.006), ('food', 0.006), ('point', 0.006)]

Topic #5:
[('year', 0.025), ('country', 0.016), ('survey', 0.015), ('age', 0.014), ('number', 0.013), ('state', 0.012), ('name', 0.011), ('variable', 0.011), ('population', 0.01), ('month', 0.008), ('source', 0.007), ('information', 0.007), ('education', 0.007), ('student', 0.007), ('gender', 0.007), ('policy', 0.006), ('acknowledgement', 0.006), ('wa', 0.006), ('data_set', 0.006), ('rate', 0.006)]

Topic #6:
[('text', 0.026), ('article', 0.019), ('title', 0.019), ('sentence', 0.016), ('speech', 0.013), ('file', 0.013), ('post', 0.012), ('line', 0.012), ('wa', 0.012), ('id', 0.01), ('using', 0.01), ('news', 0.009), ('corpus', 0.008), ('ha', 0.008), ('used', 0.007), ('inspiration', 0.007), ('word', 0.007), ('en', 0.007), ('google', 0.007), ('comment', 0.007)]

Topic #7:
[('city', 0.023), ('time', 0.019), ('information', 0.018), ('number', 0.013), ('location', 0.012), ('date', 0.012), ('new_york', 0.01), ('property', 0.01), ('acknowledgement', 0.01), ('election', 0.009), ('event', 0.009), ('restaurant', 0.009), ('name', 0.008), ('includes', 0.008), ('one', 0.008), ('inspiration', 0.007), ('station', 0.007), ('wa', 0.007), ('food', 0.006), ('day', 0.006)]

Topic #8:
[('tweet', 0.02), ('wa', 0.018), ('com', 0.013), ('twitter', 0.012), ('one', 0.012), ('time', 0.011), ('like', 0.011), ('many', 0.011), ('inspiration', 0.011), ('song', 0.01), ('user', 0.01), ('column', 0.01), ('used', 0.01), ('would', 0.009), ('site', 0.009), ('acknowledgement', 0.009), ('people', 0.008), ('could', 0.008), ('find', 0.007), ('nltk', 0.007)]

Topic #9:
[('name', 0.021), ('code', 0.019), ('value', 0.015), ('fire', 0.013), ('county', 0.012), ('state', 0.012), ('air', 0.011), ('row', 0.01), ('csv', 0.01), ('day', 0.01), ('year', 0.009), ('number', 0.009), ('specie', 0.009), ('event', 0.008), ('unit', 0.008), ('hour', 0.008), ('time', 0.008), ('mean', 0.008), ('date', 0.008), ('measured', 0.008)]

Topic #10:
[('word', 0.06), ('review', 0.029), ('language', 0.026), ('corpus', 0.025), ('name', 0.023), ('file', 0.022), ('http', 0.02), ('license', 0.017), ('text', 0.014), ('code', 0.014), ('english', 0.013), ('copyright', 0.012), ('version', 0.011), ('com', 0.011), ('list', 0.011), ('use', 0.009), ('org', 0.009), ('metadata', 0.009), ('unzip', 0.009), ('frequency', 0.008)]

Topic #11:
[('column', 0.033), ('activity', 0.032), ('sensor', 0.021), ('feature', 0.02), ('signal', 0.018), ('right', 0.017), ('using', 0.014), ('left', 0.013), ('driving', 0.013), ('label', 0.011), ('subject', 0.01), ('participant', 0.01), ('open', 0.009), ('information', 0.009), ('class', 0.009), ('recognition', 0.009), ('time', 0.008), ('help', 0.008), ('database', 0.008), ('datasets', 0.008)]

Topic #12:
[('price', 0.06), ('csv', 0.037), ('de', 0.028), ('stock', 0.023), ('com', 0.021), ('question', 0.02), ('date', 0.019), ('market', 0.015), ('acknowledgement', 0.012), ('http_www', 0.011), ('day', 0.011), ('en', 0.011), ('inspiration', 0.01), ('company', 0.01), ('close', 0.009), ('open', 0.009), ('volume', 0.008), ('la', 0.008), ('index', 0.008), ('per', 0.008)]

Topic #13:
[('university', 0.231), ('college', 0.042), ('map', 0.028), ('stop', 0.014), ('institute', 0.013), ('chicago', 0.012), ('technology', 0.01), ('file', 0.009), ('washington', 0.008), ('national', 0.008), ('archive', 0.008), ('new', 0.008), ('record', 0.007), ('population', 0.007), ('district', 0.007), ('project', 0.007), ('center', 0.007), ('research', 0.007), ('state', 0.006), ('analysis', 0.006)]

Topic #14:
[('acknowledgement', 0.011), ('information', 0.01), ('health', 0.01), ('wa', 0.009), ('state', 0.009), ('ha', 0.009), ('inspiration', 0.008), ('government', 0.007), ('company', 0.007), ('federal', 0.007), ('service', 0.007), ('published', 0.006), ('patient', 0.006), ('database', 0.006), ('year', 0.006), ('department', 0.006), ('vehicle', 0.006), ('risk', 0.006), ('doe', 0.005), ('gov', 0.005)]

Topic #15:
[('crime', 0.041), ('time', 0.041), ('score', 0.038), ('attack', 0.028), ('number', 0.018), ('defense', 0.018), ('submission', 0.014), ('non', 0.014), ('csv', 0.014), ('request', 0.014), ('statistic', 0.014), ('image', 0.013), ('matrix', 0.013), ('police', 0.012), ('file', 0.012), ('run', 0.011), ('name', 0.01), ('date', 0.01), ('id', 0.009), ('team', 0.009)]

Topic #16:
[('player', 0.039), ('team', 0.034), ('game', 0.028), ('match', 0.021), ('season', 0.014), ('goal', 0.01), ('wa', 0.01), ('com', 0.008), ('table', 0.007), ('point', 0.007), ('result', 0.007), ('play', 0.007), ('information', 0.006), ('league', 0.006), ('pre_trained', 0.006), ('sport', 0.006), ('use', 0.006), ('played', 0.006), ('model', 0.006), ('win', 0.006)]

Topic #17:
[('car', 0.033), ('inspiration', 0.027), ('largest', 0.021), ('past_research', 0.021), ('science_community', 0.021), ('acquired', 0.02), ('front_world', 0.02), ('question_want', 0.02), ('see_answered', 0.02), ('data_set', 0.02), ('help_others', 0.019), ('represents', 0.019), ('acknowledgement_without', 0.019), ('along_citation', 0.018), ('owe_attribution', 0.018), ('thanks_include', 0.018), ('time_period', 0.018), ('package_id', 0.016), ('content_inside', 0.015), ('every', 0.015)]

Topic #18:
[('year', 0.033), ('energy', 0.025), ('total', 0.021), ('animal', 0.02), ('india', 0.019), ('solar', 0.017), ('rate', 0.016), ('response', 0.014), ('outcome', 0.013), ('customer', 0.013), ('natural', 0.012), ('space', 0.012), ('earth', 0.011), ('range', 0.01), ('wa', 0.009), ('acknowledgement', 0.008), ('type', 0.008), ('death', 0.008), ('based', 0.008), ('inspiration', 0.008)]

Topic #19:
[('yet', 0.041), ('doe_description', 0.036), ('collection', 0.026), ('text', 0.026), ('txt', 0.02), ('use', 0.017), ('street', 0.017), ('south', 0.016), ('american', 0.015), ('csv', 0.014), ('library', 0.013), ('number', 0.012), ('city', 0.011), ('name', 0.009), ('digital', 0.009), ('tool', 0.009), ('http', 0.009), ('license', 0.008), ('open', 0.008), ('new_york', 0.007)]

Topic #20:
[('numeric', 0.061), ('temperature', 0.026), ('university_california', 0.024), ('traffic', 0.017), ('ic_uci', 0.016), ('data_set', 0.015), ('text', 0.015), ('edu_ml', 0.015), ('location', 0.015), ('http_archive', 0.015), ('wind', 0.014), ('fatality', 0.013), ('school', 0.013), ('uci_machine', 0.012), ('weather', 0.012), ('learning_repository', 0.011), ('incident', 0.011), ('acknowledgement', 0.01), ('inspiration', 0.009), ('predict', 0.008)]

In [63]:
cv_coherence_model_lda = gensim.models.CoherenceModel(model=lda_model, corpus=bow_corpus, 
                                                      texts=norm_corpus_bigrams,
                                                      dictionary=dictionary, 
                                                      coherence='c_v')
avg_coherence_cv = cv_coherence_model_lda.get_coherence()

umass_coherence_model_lda = gensim.models.CoherenceModel(model=lda_model, corpus=bow_corpus, 
                                                         texts=norm_corpus_bigrams,
                                                         dictionary=dictionary, 
                                                         coherence='u_mass')
avg_coherence_umass = umass_coherence_model_lda.get_coherence()

perplexity = lda_model.log_perplexity(bow_corpus)

print('Avg. Coherence Score (Cv):', avg_coherence_cv)
print('Avg. Coherence Score (UMass):', avg_coherence_umass)
print('Model Perplexity:', perplexity)

Avg. Coherence Score (Cv): 0.42230731344440936
Avg. Coherence Score (UMass): -2.5180356822814263
Model Perplexity: -6.85161118426254

In [65]:
topics = [[(term, round(wt, 3)) 
               for term, wt in lda_model.show_topic(n, topn=20)] 
                   for n in range(0, lda_model.num_topics)]

In [66]:
for idx, topic in enumerate(topics):
    print('Topic #'+str(idx+1)+':')
    print([term for term, wt in topic])
    print()

Topic #1:
['university', 'college', 'map', 'stop', 'institute', 'chicago', 'technology', 'file', 'washington', 'national', 'archive', 'new', 'record', 'population', 'district', 'project', 'center', 'research', 'state', 'analysis']

Topic #2:
['wa', 'time', 'information', 'source', 'many', 'world', 'acknowledgement', 'inspiration', 'available', 'project', 'ha', 'database', 'one', 'date', 'also', 'use', 'country', 'report', 'number', 'people']

Topic #3:
['image', 'class', 'label', 'instance', 'cell', 'integer', 'sample', 'model', 'number', 'training', 'using', 'file', 'classifier', 'example', 'different', 'wa', 'two', 'machine_learning', 'used', 'test']

Topic #4:
['word', 'review', 'language', 'corpus', 'name', 'file', 'http', 'license', 'text', 'code', 'english', 'copyright', 'version', 'com', 'list', 'use', 'org', 'metadata', 'unzip', 'frequency']

Topic #5:
['text', 'article', 'title', 'sentence', 'speech', 'file', 'post', 'line', 'wa', 'id', 'using', 'news', 'corpus', 'ha', 'used', 'inspiration', 'word', 'en', 'google', 'comment']

Topic #6:
['price', 'csv', 'de', 'stock', 'com', 'question', 'date', 'market', 'acknowledgement', 'http_www', 'day', 'en', 'inspiration', 'company', 'close', 'open', 'volume', 'la', 'index', 'per']

Topic #7:
['yet', 'doe_description', 'collection', 'text', 'txt', 'use', 'street', 'south', 'american', 'csv', 'library', 'number', 'city', 'name', 'digital', 'tool', 'http', 'license', 'open', 'new_york']

Topic #8:
['file', 'user', 'movie', 'csv', 'tag', 'rating', 'id', 'contains', 'research', 'use', 'paper', 'information', 'ha', 'one', 'format', 'value', 'data_set', 'used', 'following', 'system']

Topic #9:
['tweet', 'wa', 'com', 'twitter', 'one', 'time', 'like', 'many', 'inspiration', 'song', 'user', 'column', 'used', 'would', 'site', 'acknowledgement', 'people', 'could', 'find', 'nltk']

Topic #10:
['attribute', 'area', 'variable', 'building', 'product', 'per', 'ha', 'type', 'day', 'model', 'value', 'number', 'feature', 'cluster', 'using', 'use', 'database', 'one', 'food', 'point']

Topic #11:
['car', 'inspiration', 'largest', 'past_research', 'science_community', 'acquired', 'front_world', 'question_want', 'see_answered', 'data_set', 'help_others', 'represents', 'acknowledgement_without', 'along_citation', 'owe_attribution', 'thanks_include', 'time_period', 'package_id', 'content_inside', 'every']

Topic #12:
['column', 'activity', 'sensor', 'feature', 'signal', 'right', 'using', 'left', 'driving', 'label', 'subject', 'participant', 'open', 'information', 'class', 'recognition', 'time', 'help', 'database', 'datasets']

Topic #13:
['acknowledgement', 'information', 'health', 'wa', 'state', 'ha', 'inspiration', 'government', 'company', 'federal', 'service', 'published', 'patient', 'database', 'year', 'department', 'vehicle', 'risk', 'doe', 'gov']

Topic #14:
['name', 'code', 'value', 'fire', 'county', 'state', 'air', 'row', 'csv', 'day', 'year', 'number', 'specie', 'event', 'unit', 'hour', 'time', 'mean', 'date', 'measured']

Topic #15:
['year', 'energy', 'total', 'animal', 'india', 'solar', 'rate', 'response', 'outcome', 'customer', 'natural', 'space', 'earth', 'range', 'wa', 'acknowledgement', 'type', 'death', 'based', 'inspiration']

Topic #16:
['player', 'team', 'game', 'match', 'season', 'goal', 'wa', 'com', 'table', 'point', 'result', 'play', 'information', 'league', 'pre_trained', 'sport', 'use', 'played', 'model', 'win']

Topic #17:
['city', 'time', 'information', 'number', 'location', 'date', 'new_york', 'property', 'acknowledgement', 'election', 'event', 'restaurant', 'name', 'includes', 'one', 'inspiration', 'station', 'wa', 'food', 'day']

Topic #18:
['numeric', 'temperature', 'university_california', 'traffic', 'ic_uci', 'data_set', 'text', 'edu_ml', 'location', 'http_archive', 'wind', 'fatality', 'school', 'uci_machine', 'weather', 'learning_repository', 'incident', 'acknowledgement', 'inspiration', 'predict']

Topic #19:
['year', 'country', 'survey', 'age', 'number', 'state', 'name', 'variable', 'population', 'month', 'source', 'information', 'education', 'student', 'gender', 'policy', 'acknowledgement', 'wa', 'data_set', 'rate']

Topic #20:
['crime', 'time', 'score', 'attack', 'number', 'defense', 'submission', 'non', 'csv', 'request', 'statistic', 'image', 'matrix', 'police', 'file', 'run', 'name', 'date', 'id', 'team']

In [68]:
topics_df = pd.DataFrame([[term for term, wt in topic] 
                              for topic in topics], 
                         columns = ['Term'+str(i) for i in range(1, 21)],
                         index=['Topic '+str(t) for t in range(1, lda_model.num_topics+1)]).T
topics_df

           Topic 1          Topic 2  ...         Topic 19    Topic 20
Term1   university               wa  ...             year       crime
Term2      college             time  ...          country        time
Term3          map      information  ...           survey       score
Term4         stop           source  ...              age      attack
Term5    institute             many  ...           number      number
Term6      chicago            world  ...            state     defense
Term7   technology  acknowledgement  ...             name  submission
Term8         file      inspiration  ...         variable         non
Term9   washington        available  ...       population         csv
Term10    national          project  ...            month     request
Term11     archive               ha  ...           source   statistic
Term12         new         database  ...      information       image
Term13      record              one  ...        education      matrix
Term14  population             date  ...          student      police
Term15    district             also  ...           gender        file
Term16     project              use  ...           policy         run
Term17      center          country  ...  acknowledgement        name
Term18    research           report  ...               wa        date
Term19       state           number  ...         data_set          id
Term20    analysis           people  ...             rate        team

[20 rows x 20 columns]

In [69]:
pd.set_option('display.max_colwidth', -1)
topics_df = pd.DataFrame([', '.join([term for term, wt in topic])  
                              for topic in topics],
                         columns = ['Terms per Topic'],
                         index=['Topic'+str(t) for t in range(1, lda_model.num_topics+1)]
                         )
topics_df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  """Entry point for launching an IPython kernel.

                                                                                                                                                                                                                                                                      Terms per Topic
Topic1   university, college, map, stop, institute, chicago, technology, file, washington, national, archive, new, record, population, district, project, center, research, state, analysis
Topic2   wa, time, information, source, many, world, acknowledgement, inspiration, available, project, ha, database, one, date, also, use, country, report, number, people
Topic3   image, class, label, instance, cell, integer, sample, model, number, training, using, file, classifier, example, different, wa, two, machine_learning, used, test
Topic4   word, review, language, corpus, name, file, http, license, text, code, english, copyright, version, com, list, use, org, metadata, unzip, frequency
Topic5   text, article, title, sentence, speech, file, post, line, wa, id, using, news, corpus, ha, used, inspiration, word, en, google, comment
Topic6   price, csv, de, stock, com, question, date, market, acknowledgement, http_www, day, en, inspiration, company, close, open, volume, la, index, per
Topic7   yet, doe_description, collection, text, txt, use, street, south, american, csv, library, number, city, name, digital, tool, http, license, open, new_york
Topic8   file, user, movie, csv, tag, rating, id, contains, research, use, paper, information, ha, one, format, value, data_set, used, following, system
Topic9   tweet, wa, com, twitter, one, time, like, many, inspiration, song, user, column, used, would, site, acknowledgement, people, could, find, nltk
Topic10  attribute, area, variable, building, product, per, ha, type, day, model, value, number, feature, cluster, using, use, database, one, food, point
Topic11  car, inspiration, largest, past_research, science_community, acquired, front_world, question_want, see_answered, data_set, help_others, represents, acknowledgement_without, along_citation, owe_attribution, thanks_include, time_period, package_id, content_inside, every
Topic12  column, activity, sensor, feature, signal, right, using, left, driving, label, subject, participant, open, information, class, recognition, time, help, database, datasets
Topic13  acknowledgement, information, health, wa, state, ha, inspiration, government, company, federal, service, published, patient, database, year, department, vehicle, risk, doe, gov
Topic14  name, code, value, fire, county, state, air, row, csv, day, year, number, specie, event, unit, hour, time, mean, date, measured
Topic15  year, energy, total, animal, india, solar, rate, response, outcome, customer, natural, space, earth, range, wa, acknowledgement, type, death, based, inspiration
Topic16  player, team, game, match, season, goal, wa, com, table, point, result, play, information, league, pre_trained, sport, use, played, model, win
Topic17  city, time, information, number, location, date, new_york, property, acknowledgement, election, event, restaurant, name, includes, one, inspiration, station, wa, food, day
Topic18  numeric, temperature, university_california, traffic, ic_uci, data_set, text, edu_ml, location, http_archive, wind, fatality, school, uci_machine, weather, learning_repository, incident, acknowledgement, inspiration, predict
Topic19  year, country, survey, age, number, state, name, variable, population, month, source, information, education, student, gender, policy, acknowledgement, wa, data_set, rate
Topic20  crime, time, score, attack, number, defense, submission, non, csv, request, statistic, image, matrix, police, file, run, name, date, id, team

## Interpreting Topic Model Results

In [72]:
tm_results = lda_model[bow_corpus]

In [73]:
corpus_topics = [sorted(topics, key=lambda record: -record[1])[0] 
                     for topics in tm_results]
corpus_topics[:5]

[(9, 0.5704999),
 (15, 0.5066352),
 (1, 0.4261907),
 (1, 0.32978037),
 (5, 0.447578)]

In [74]:
corpus_topic_df = pd.DataFrame()
corpus_topic_df['Document'] = range(0, len(papers))
corpus_topic_df['Dominant Topic'] = [item[0]+1 for item in corpus_topics]
corpus_topic_df['Contribution %'] = [round(item[1]*100, 2) for item in corpus_topics]
corpus_topic_df['Topic Desc'] = [topics_df.iloc[t[0]]['Terms per Topic'] for t in corpus_topics]
corpus_topic_df['Paper'] = papers

### Dominant Topics Distribution across Corpus

In [82]:
corpus_topic_df.head(2)

   Document  ...                                                                                                                                                                                                    Paper
0         0  ...  The datasets contains transactions made by credit cards in September 2013 by european cardholders. This dataset presents transactions that occurred in two days, where we have 492 frauds out of 284...
1         1  ...  The ultimate Soccer database for data analysis and machine learning\nWhat you get:\n+25,000 matches\n+10,000 players\n11 European Countries with their lead championship\nSeasons 2008 to 2016\nPlay...

[2 rows x 5 columns]

In [83]:
corpus_topic_df.columns

Index(['Document', 'Dominant Topic', 'Contribution %', 'Topic Desc', 'Paper'], dtype='object')

### Dominant Topics in Specific Research Papers

In [76]:
pd.set_option('display.max_colwidth', 200)
(corpus_topic_df[corpus_topic_df['Document']
                 .isin([681, 9, 392, 1622, 17, 
                        906, 996, 503, 13, 733])])

      Document  ...                                                                                                                                                                                                    Paper
9            9  ...  This data set includes 721 Pokemon, including their number, name, first and second type, and basic stats: HP, Attack, Defense, Special Attack, Special Defense, and Speed. It has been of great use ...
13          13  ...  A food products database\nOpen Food Facts is a free, open, collbarative database of food products from around the world, with ingredients, allergens, nutrition facts and all the tidbits of informa...
17          17  ...  Context\nThis dataset consists of reviews of fine foods from amazon. The data span a period of more than 10 years, including all ~500,000 reviews up to October 2012. Reviews include product and us...
392        392  ...  Context\nBible (or Biblia in Greek) is a collection of sacred texts or scriptures that Jews and Christians consider to be a product of divine inspiration and a record of the relationship between G...
503        503  ...  Description:\nHappyDB is a corpus of more than 100,000 happy moments crowd-sourced via Amazon’s Mechanical Turk.\nEach worker is given the following task: What made you happy today? Reflect on the...
681        681  ...  Build the proposed optimized pricing model: Determine the largest or key value driver from the data Build price segments using product characteristics, distribution channel, behavior and demograph...
733        733  ...  Context\nThis dataset is a list of people who have been involved in an accident in the city of Barcelona (Spain) from year 2010 till 2016. This data is managed by the Police in the city of Barcelo...
906        906  ...  Context\nThe CalCOFI data set represents the longest (1949-present) and most complete (more than 50,000 sampling stations) time series of oceanographic and larval fish data in the world. It includ...
996        996  ...  Context\nAs a huge LOTR fan, I was excited to have acquired this character data from the Lord of the Rings Wiki. I scraped this data using F#; the repository can be found here: https://github.com/...
1622      1622  ...  Context\nI started to scrape TripAdvisor reviews for a personal project on Sentiment Analysis. I thought it could be good to share my data on Kaggle, since this can help other with similar ideas.\...

[10 rows x 5 columns]

### Relevant Research Papers per Topic based on Dominance

In [77]:
corpus_topic_df.groupby('Dominant Topic').apply(lambda topic_set: (topic_set.sort_values(by=['Contribution %'], 
                                                                                         ascending=False)
                                                                             .iloc[0]))

                Document  ...                                                                                                                                                                                                    Paper
Dominant Topic            ...
1                    722  ...  Context\nInformation reproduced from the National Archives:\n"The Vietnam Conflict Extract Data File of the Defense Casualty Analysis System (DCAS) Extract Files contains records of 58,220 U.S. mi...
2                   1930  ...  82.558 Human Instructions in Chinese Extracted from wikiHow\nStep-by-step instructions in Chinese extracted from wikiHow and decomposed into a formal graph representation in RDF.\nThis is one of m...
3                    610  ...  This dataset contains 16,000 images of four shapes; square, star, circle, and triangle. Each image is 200x200 pixels.\nThe data was collected using a Garmin Virb 1080p action camera. The shapes we...
4                   2081  ...  Context\nFastText word embeddings trained on English wikipedia\nFastText embeddings are enriched with sub-word information useful in dealing with misspelled and out-of-vocabulary words.\nContent\n...
5                   1860  ...  Context:\nYoutube has introduced automatic generation of subtitles based on speech recognition of uploaded video. This dataset provides collection of subtitles Robert Phoenix The 11th House upload...
6                    812  ...  «Datasets per la comparació de moviments i patrons entre els principals índexs borsatils espanyols i les crypto-monedes»\nContext\nEn aquest cas el context és detectar o preveure els diferents mov...
7                   1197  ...  Context\nOpenAddresses's goal is to connect the digital and physical worlds by sharing geographic coordinates, street names, house numbers and postal codes.\nContent\nThis dataset contains one dat...
8                   1963  ...  Summary\nThis dataset (ml-20m) describes 5-star rating and free-text tagging activity from MovieLens, a movie recommendation service. It contains 20000263 ratings and 465564 tag applications acros...
9                   2064  ...  Context\nWalking around a Total Wine one day I wondered if there was any data I could find that would help me figure out what new rums to try, I later was able to find some information on rumratin...
10                  1805  ...  Context\nThere are 4933 pharmacies in Belgium, and each pharmacy (in groups) are obliged to create a network of night-guard pharmacies covering complete Belgium. Compare it with a hospital that ha...
11                  2134  ...  Context\nNothing ruins the thrill of buying a brand new car more quickly than seeing your new insurance bill. The sting’s even more painful when you know you’re a good driver. It doesn’t seem fair...
12                  2103  ...  This directory contains the cross-position activity recognition datasets used in the following paper. Please consider citing this article if you want to use the datasets.\nJindong Wang, Yiqiang Ch...
13                  2131  ...  310 Observations, 13 Attributes (12 Numeric Predictors, 1 Binary Class Attribute - No Demographics)\nLower back pain can be caused by a variety of problems with any parts of the complex, interconn...
14                   416  ...  Context:\nThe Environmental Protection Agency (EPA) creates air quality trends using measurements from monitors located across the country. All of this data comes from EPA’s Air Quality System (AQ...
15                   238  ...  The purpose of this data set is to allow exploration between various types of data that is commonly collected by the US government across the states and the USA as a whole. The data set consists o...
16                  1881  ...  Context\nThis dataset was built as a supplementary to "[European Soccer Database][1]". It includes data dictionary, extraction of detailed match information previously contains in XML columns.\nCo...
17                  1907  ...  Context\nThis dataset contains a subset of information, pertaining to the weather patterns during Januaray 2016 - June 2016 in NYC. This may be important to those who are looking to add columns to...
18                    13  ...  A food products database\nOpen Food Facts is a free, open, collbarative database of food products from around the world, with ingredients, allergens, nutrition facts and all the tidbits of informa...
19                  2067  ...  Context\nThe United States Census Bureau conducts regular surveys to assess education levels in the U.S. These surveys sample participants' highest levels of education (i.e. high school diploma, b...
20                  1794  ...  This dataset contains run time statistics and details about scores for the second development round of NIPS 2017 Adversarial learning competition\nContent\nMatrices with intermediate results\nFoll...

[20 rows x 5 columns]

#Ch06c-Topic model with sk learn

In [89]:
data=pd.read_csv('https://github.com/duybluemind1988/Data-science/blob/master/NLP/Kaggle_upvoted_dataset/voted-kaggle-dataset.csv?raw=true')
print(data.shape)
data.head(1)

(2150, 15)

                         Title  ...                                                                                                                                                                                              Description
0  Credit Card Fraud Detection  ...  The datasets contains transactions made by credit cards in September 2013 by european cardholders. This dataset presents transactions that occurred in two days, where we have 492 frauds out of 284...

[1 rows x 15 columns]

## Basic Text Wrangling

In [91]:
%%time
papers=papers.astype(str)
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
  

stop_words = nltk.corpus.stopwords.words('english')
wtk = nltk.tokenize.RegexpTokenizer(r'\w+')
wnl = nltk.stem.wordnet.WordNetLemmatizer()

def normalize_corpus(papers):
    norm_papers = []
    for paper in papers:
        paper = paper.lower()
        paper_tokens = [token.strip() for token in wtk.tokenize(paper)]
        paper_tokens = [wnl.lemmatize(token) for token in paper_tokens if not token.isnumeric()]
        paper_tokens = [token for token in paper_tokens if len(token) > 1]
        paper_tokens = [token for token in paper_tokens if token not in stop_words]
        paper_tokens = list(filter(None, paper_tokens))
        if paper_tokens:
            norm_papers.append(paper_tokens)
            
    return norm_papers
    
norm_papers = normalize_corpus(papers)
print(len(norm_papers))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
2150
CPU times: user 2.85 s, sys: 19.4 ms, total: 2.87 s
Wall time: 2.96 s

In [92]:
print(norm_papers[0])

['datasets', 'contains', 'transaction', 'made', 'credit', 'card', 'september', 'european', 'cardholder', 'dataset', 'present', 'transaction', 'occurred', 'two', 'day', 'fraud', 'transaction', 'dataset', 'highly', 'unbalanced', 'positive', 'class', 'fraud', 'account', 'transaction', 'contains', 'numerical', 'input', 'variable', 'result', 'pca', 'transformation', 'unfortunately', 'due', 'confidentiality', 'issue', 'cannot', 'provide', 'original', 'feature', 'background', 'information', 'data', 'feature', 'v1', 'v2', 'v28', 'principal', 'component', 'obtained', 'pca', 'feature', 'transformed', 'pca', 'time', 'amount', 'feature', 'time', 'contains', 'second', 'elapsed', 'transaction', 'first', 'transaction', 'dataset', 'feature', 'amount', 'transaction', 'amount', 'feature', 'used', 'example', 'dependant', 'cost', 'senstive', 'learning', 'feature', 'class', 'response', 'variable', 'take', 'value', 'case', 'fraud', 'otherwise', 'given', 'class', 'imbalance', 'ratio', 'recommend', 'measuring', 'accuracy', 'using', 'area', 'precision', 'recall', 'curve', 'auprc', 'confusion', 'matrix', 'accuracy', 'meaningful', 'unbalanced', 'classification', 'dataset', 'ha', 'collected', 'analysed', 'research', 'collaboration', 'worldline', 'machine', 'learning', 'group', 'http', 'mlg', 'ulb', 'ac', 'ulb', 'université', 'libre', 'de', 'bruxelles', 'big', 'data', 'mining', 'fraud', 'detection', 'detail', 'current', 'past', 'project', 'related', 'topic', 'available', 'http', 'mlg', 'ulb', 'ac', 'brufence', 'http', 'mlg', 'ulb', 'ac', 'artml', 'please', 'cite', 'andrea', 'dal', 'pozzolo', 'olivier', 'caelen', 'reid', 'johnson', 'gianluca', 'bontempi', 'calibrating', 'probability', 'undersampling', 'unbalanced', 'classification', 'symposium', 'computational', 'intelligence', 'data', 'mining', 'cidm', 'ieee']

## Text Representation with Feature Engineering

In [93]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(min_df=20, max_df=0.6, ngram_range=(1,2),
                     token_pattern=None, tokenizer=lambda doc: doc,
                     preprocessor=lambda doc: doc)
cv_features = cv.fit_transform(norm_papers)
cv_features.shape

(2150, 2097)

In [94]:
vocabulary = np.array(cv.get_feature_names())
print('Total Vocabulary Size:', len(vocabulary))

Total Vocabulary Size: 2097

In [95]:
vocabulary

array(['1st', '2nd', 'ab', ..., 'zip code', 'zip file', 'zone'],
      dtype='<U26')

# Topic Models with Latent Semantic Indexing (LSI)

In [96]:
%%time
from sklearn.decomposition import TruncatedSVD

TOTAL_TOPICS = 20

lsi_model = TruncatedSVD(n_components=TOTAL_TOPICS, n_iter=500, random_state=42)
document_topics = lsi_model.fit_transform(cv_features)

CPU times: user 10 s, sys: 7.57 s, total: 17.6 s
Wall time: 9 s

In [97]:
document_topics.shape
# 2150 document

(2150, 20)

In [98]:
topic_terms = lsi_model.components_
topic_terms.shape
# 2097 words

(20, 2097)

In [99]:
topic_terms

array([[ 0.00080267,  0.00052692,  0.00037655, ...,  0.00028539,
         0.00027183,  0.00325737],
       [ 0.00885621,  0.00568069,  0.00364484, ...,  0.00214013,
         0.00257936,  0.0626348 ],
       [-0.00477828, -0.00230495, -0.00306242, ..., -0.00162598,
        -0.00236657,  0.1410079 ],
       ...,
       [-0.03070314, -0.02270857,  0.00195795, ...,  0.00182991,
         0.00139959, -0.04528696],
       [-0.01256348, -0.00855104, -0.00197959, ..., -0.00108223,
         0.00107812,  0.01667599],
       [-0.01868419, -0.01859952, -0.00289716, ..., -0.00260013,
        -0.0046619 ,  0.0088497 ]])

In [100]:
top_terms = 20
topic_key_term_idxs = np.argsort(-np.absolute(topic_terms), axis=1)[:, :top_terms]
topic_keyterm_weights = np.array([topic_terms[row, columns] 
                             for row, columns in list(zip(np.arange(TOTAL_TOPICS), topic_key_term_idxs))])
topic_keyterms = vocabulary[topic_key_term_idxs]
topic_keyterms_weights = list(zip(topic_keyterms, topic_keyterm_weights))
for n in range(TOTAL_TOPICS):
    print('Topic #'+str(n+1)+':')
    print('='*50)
    d1 = []
    d2 = []
    terms, weights = topic_keyterms_weights[n]
    term_weights = sorted([(t, w) for t, w in zip(terms, weights)], 
                          key=lambda row: -abs(row[1]))
    for term, wt in term_weights:
        if wt >= 0:
            d1.append((term, round(wt, 3)))
        else:
            d2.append((term, round(wt, 3)))

    print('Direction 1:', d1)
    print('-'*50)
    print('Direction 2:', d2)
    print('-'*50)
    print()

Topic #1:
==================================================
Direction 1: [('university', 0.969), ('state', 0.175), ('college', 0.076), ('california', 0.049), ('university california', 0.041), ('institute', 0.039), ('new', 0.032), ('wa', 0.029), ('technology', 0.028), ('north', 0.027), ('year', 0.02), ('number', 0.02), ('file', 0.02), ('set', 0.02), ('san', 0.019), ('time', 0.018), ('st', 0.018), ('international', 0.018), ('csv', 0.017), ('player', 0.017)]
--------------------------------------------------
Direction 2: []
--------------------------------------------------

Topic #2:
==================================================
Direction 1: [('player', 0.305), ('wa', 0.276), ('number', 0.21), ('team', 0.195), ('file', 0.189), ('time', 0.186), ('year', 0.174), ('csv', 0.17), ('one', 0.129), ('ha', 0.126), ('name', 0.125), ('information', 0.119), ('date', 0.115), ('http', 0.114), ('goal', 0.111), ('contains', 0.106), ('per', 0.1), ('value', 0.098), ('taken', 0.094)]
--------------------------------------------------
Direction 2: [('university', -0.121)]
--------------------------------------------------

Topic #3:
==================================================
Direction 1: [('player', 0.587), ('team', 0.345), ('goal', 0.217), ('attempt', 0.187), ('weighted', 0.152), ('taken', 0.148), ('wa', 0.144), ('zone', 0.141), ('allowed', 0.121), ('minute', 0.109), ('game', 0.107), ('average', 0.089), ('per', 0.089)]
--------------------------------------------------
Direction 2: [('file', -0.156), ('csv', -0.136), ('one', -0.094), ('year', -0.093), ('date', -0.09), ('information', -0.081), ('contains', -0.077)]
--------------------------------------------------

Topic #4:
==================================================
Direction 1: [('integer', 0.806), ('interested', 0.353), ('enjoy', 0.347), ('much', 0.164), ('movie', 0.08), ('categorical', 0.068), ('always', 0.065), ('people', 0.062), ('music', 0.06), ('preference', 0.05), ('interest', 0.048), ('lot', 0.044), ('item', 0.041), ('money', 0.032), ('point', 0.032)]
--------------------------------------------------
Direction 2: [('year', -0.052), ('date', -0.051), ('number', -0.036), ('file', -0.034), ('code', -0.031)]
--------------------------------------------------

Topic #5:
==================================================
Direction 1: [('date', 0.319), ('element', 0.259), ('tag', 0.201), ('file', 0.191), ('registration', 0.187), ('zero', 0.181), ('end', 0.176), ('one', 0.175), ('start', 0.171), ('application', 0.162), ('time', 0.158), ('position', 0.145), ('containing', 0.138), ('section', 0.1), ('mark', 0.096), ('version', 0.093)]
--------------------------------------------------
Direction 2: [('year', -0.444), ('total', -0.154), ('state', -0.098), ('child', -0.093)]
--------------------------------------------------

Topic #6:
==================================================
Direction 1: [('year', 0.406), ('number', 0.213), ('date', 0.206), ('element', 0.151), ('total', 0.145), ('registration', 0.112), ('zero', 0.111), ('child', 0.107), ('time', 0.104), ('end', 0.102), ('code', 0.099), ('start', 0.091), ('application', 0.088)]
--------------------------------------------------
Direction 2: [('csv', -0.535), ('file', -0.146), ('image', -0.1), ('http', -0.097), ('text', -0.095), ('numeric', -0.093), ('user', -0.087)]
--------------------------------------------------

Topic #7:
==================================================
Direction 1: [('numeric', 0.54), ('text', 0.364), ('word', 0.12), ('model', 0.092), ('trained', 0.08), ('wa', 0.072), ('language', 0.07), ('use', 0.068), ('image', 0.066), ('http', 0.061), ('using', 0.06), ('set', 0.054), ('reading', 0.05), ('real', 0.05)]
--------------------------------------------------
Direction 2: [('csv', -0.581), ('year', -0.167), ('file', -0.081), ('total', -0.059), ('station', -0.059), ('date', -0.051)]
--------------------------------------------------

Topic #8:
==================================================
Direction 1: [('numeric', 0.638), ('csv', 0.396), ('text', 0.309), ('year', 0.243), ('total', 0.08), ('reading', 0.052)]
--------------------------------------------------
Direction 2: [('model', -0.144), ('image', -0.133), ('trained', -0.124), ('http', -0.095), ('feature', -0.087), ('pre', -0.08), ('wa', -0.078), ('pre trained', -0.075), ('trained model', -0.072), ('set', -0.071), ('use', -0.062), ('word', -0.061), ('using', -0.059), ('ha', -0.056)]
--------------------------------------------------

Topic #9:
==================================================
Direction 1: [('model', 0.314), ('trained', 0.301), ('year', 0.244), ('image', 0.216), ('pre trained', 0.187), ('pre', 0.187), ('feature', 0.186), ('trained model', 0.184), ('csv', 0.176), ('network', 0.128), ('layer', 0.107), ('total', 0.104), ('time', 0.103), ('numeric', 0.084)]
--------------------------------------------------
Direction 2: [('name', -0.132), ('information', -0.111), ('user', -0.1), ('com', -0.08), ('fire', -0.077), ('de', -0.076)]
--------------------------------------------------

Topic #10:
==================================================
Direction 1: [('value', 0.345), ('station', 0.257), ('name', 0.244), ('feature', 0.15), ('air', 0.135), ('mean', 0.127), ('day', 0.12), ('monitor', 0.119), ('hour', 0.117), ('event', 0.112), ('parameter', 0.111), ('site', 0.1), ('code', 0.1)]
--------------------------------------------------
Direction 2: [('year', -0.218), ('movie', -0.154), ('word', -0.152), ('http', -0.143), ('total', -0.138), ('com', -0.109), ('tag', -0.103)]
--------------------------------------------------

Topic #11:
==================================================
Direction 1: [('child', 0.518), ('number', 0.278), ('word', 0.23), ('age', 0.227), ('name', 0.173), ('language', 0.149), ('sold', 0.146), ('sale', 0.11), ('month', 0.105), ('woman', 0.098), ('csv', 0.087), ('price', 0.086)]
--------------------------------------------------
Direction 2: [('year', -0.213), ('de', -0.161), ('http', -0.142), ('com', -0.126), ('value', -0.103), ('en', -0.1), ('per', -0.097), ('www', -0.092)]
--------------------------------------------------

Topic #12:
==================================================
Direction 1: [('de', 0.426), ('en', 0.23), ('com', 0.23), ('number', 0.222), ('per', 0.21), ('http', 0.207), ('csv', 0.152), ('le', 0.145), ('la', 0.13), ('www', 0.119), ('http www', 0.117)]
--------------------------------------------------
Direction 2: [('file', -0.27), ('station', -0.173), ('year', -0.166), ('user', -0.163), ('set', -0.115), ('movie', -0.113), ('id', -0.11), ('wa', -0.102), ('value', -0.088)]
--------------------------------------------------

Topic #13:
==================================================
Direction 1: [('state', 0.226), ('fire', 0.188), ('department', 0.138), ('csv', 0.137), ('police', 0.133), ('national', 0.114), ('code', 0.109), ('wa', 0.109), ('time', 0.106)]
--------------------------------------------------
Direction 2: [('de', -0.299), ('file', -0.222), ('value', -0.213), ('number', -0.207), ('station', -0.176), ('per', -0.173), ('en', -0.158), ('movie', -0.135), ('com', -0.129), ('user', -0.121), ('word', -0.107)]
--------------------------------------------------

Topic #14:
==================================================
Direction 1: [('image', 0.655), ('label', 0.17), ('class', 0.168), ('number', 0.135), ('sample', 0.08), ('point', 0.077), ('pixel', 0.069)]
--------------------------------------------------
Direction 2: [('movie', -0.238), ('user', -0.21), ('trained', -0.149), ('model', -0.135), ('tag', -0.111), ('rating', -0.104), ('feature', -0.099), ('pre trained', -0.096), ('ha', -0.095), ('trained model', -0.093), ('pre', -0.092), ('state', -0.071), ('station', -0.069)]
--------------------------------------------------

Topic #15:
==================================================
Direction 1: [('user', 0.27), ('number', 0.212), ('movie', 0.176), ('game', 0.166), ('player', 0.159), ('id', 0.119), ('rating', 0.105), ('numeric', 0.103), ('set', 0.102)]
--------------------------------------------------
Direction 2: [('word', -0.516), ('language', -0.254), ('wa', -0.144), ('corpus', -0.141), ('csv', -0.121), ('per', -0.113), ('text', -0.112), ('vector', -0.099), ('goal', -0.089), ('taken', -0.088), ('de', -0.086)]
--------------------------------------------------

Topic #16:
==================================================
Direction 1: [('file', 0.312), ('image', 0.307), ('child', 0.226), ('name', 0.158), ('movie', 0.151), ('age', 0.135), ('state', 0.1), ('per', 0.097), ('tag', 0.094), ('attempt', 0.09), ('weighted', 0.088), ('health', 0.087)]
--------------------------------------------------
Direction 2: [('time', -0.275), ('word', -0.233), ('race', -0.196), ('number', -0.174), ('game', -0.144), ('match', -0.119), ('language', -0.102), ('csv', -0.1)]
--------------------------------------------------

Topic #17:
==================================================
Direction 1: [('player', 0.254), ('number', 0.243), ('code', 0.181), ('fire', 0.148), ('game', 0.14), ('name', 0.126), ('state', 0.115)]
--------------------------------------------------
Direction 2: [('race', -0.259), ('time', -0.225), ('police', -0.21), ('station', -0.193), ('section', -0.182), ('point', -0.152), ('team', -0.139), ('taken', -0.136), ('woman', -0.13), ('per', -0.12), ('age', -0.108), ('child', -0.106), ('total', -0.106)]
--------------------------------------------------

Topic #18:
==================================================
Direction 1: [('station', 0.395), ('file', 0.191), ('player', 0.187), ('feature', 0.177), ('weather', 0.141), ('null', 0.136), ('http', 0.134), ('game', 0.124), ('police', 0.101)]
--------------------------------------------------
Direction 2: [('user', -0.263), ('movie', -0.176), ('taken', -0.156), ('race', -0.154), ('time', -0.15), ('set', -0.148), ('per', -0.129), ('mean', -0.12), ('sample', -0.114), ('hour', -0.105), ('wa', -0.105)]
--------------------------------------------------

Topic #19:
==================================================
Direction 1: [('police', 0.296), ('user', 0.248), ('de', 0.23), ('number', 0.219), ('crime', 0.174), ('image', 0.168), ('total', 0.131), ('fire', 0.128), ('tweet', 0.123), ('station', 0.121), ('department', 0.118), ('location', 0.113), ('section', 0.108), ('id', 0.108)]
--------------------------------------------------
Direction 2: [('match', -0.189), ('http', -0.162), ('team', -0.162), ('name', -0.138), ('child', -0.132), ('price', -0.128)]
--------------------------------------------------

Topic #20:
==================================================
Direction 1: [('health', 0.272), ('drug', 0.215), ('plan', 0.209), ('survey', 0.206), ('information', 0.123), ('de', 0.121), ('per', 0.119), ('care', 0.113), ('part', 0.108)]
--------------------------------------------------
Direction 2: [('http', -0.197), ('fire', -0.174), ('movie', -0.157), ('point', -0.144), ('team', -0.138), ('image', -0.125), ('com', -0.123), ('race', -0.122), ('name', -0.116), ('child', -0.109), ('www', -0.107)]
--------------------------------------------------

In [101]:
dt_df = pd.DataFrame(np.round(document_topics, 3), 
                     columns=['T'+str(i) for i in range(1, TOTAL_TOPICS+1)])
dt_df.T
#2150 document

      0       1      2       3      4     ...   2145   2146   2147   2148   2149
T1   0.439   1.150  1.030   5.407  0.529  ...  0.300  0.345  0.137  0.231  0.313
T2   3.561  11.376  7.611  11.192  4.449  ...  2.731  2.829  1.221  1.950  2.301
T3  -2.190   5.920 -3.482  -5.392 -1.810  ... -0.334 -1.312 -0.944 -0.465 -1.032
T4  -0.422   0.607  0.289  -1.468 -0.393  ... -0.320 -0.241 -0.178 -0.174 -0.332
T5  -0.224  -0.217  0.305   0.908  0.146  ... -0.100 -0.799  0.480 -0.933 -1.552
T6  -0.853  -2.495 -1.340  -0.549 -2.863  ... -0.488 -0.482 -0.524  0.859  1.609
T7   1.287   1.772  1.604   3.006 -2.224  ...  0.405  0.454  0.418 -0.186 -0.330
T8  -2.009  -2.316 -2.412  -3.280  1.151  ... -0.757 -0.823 -0.389  0.250  0.357
T9   1.417  -1.116 -1.347  -5.409  0.423  ... -0.365 -1.428 -0.299  0.310  0.065
T10  0.952  -1.901 -1.649  -2.335  0.378  ... -0.314  1.036 -0.293  0.392 -0.348
T11 -0.392  -1.278 -0.776  -2.673  0.592  ... -0.305  0.943  0.670 -0.429  0.688
T12  0.524   1.756 -2.287  -0.008  0.467  ...  0.701  0.467 -1.264 -0.878  0.185
T13 -0.735  -0.162  0.076   5.924  1.529  ... -0.479 -0.489 -1.339 -0.374 -0.336
T14  0.300   2.056 -1.496  -2.846 -0.185  ...  0.224 -0.268 -0.045  0.093  0.238
T15  0.576   4.261  1.795   2.794 -0.280  ...  0.893  0.196 -2.388  0.307  1.191
T16 -0.322  -4.400 -0.283  -0.857 -1.370  ... -0.982  1.383 -0.350 -0.856 -0.436
T17 -1.523   0.545 -0.639   0.343 -1.400  ... -0.055  0.641  0.368 -0.464  0.581
T18  1.402   4.280 -1.806  -2.204 -0.955  ...  0.634  0.288  0.616  0.289 -0.387
T19 -0.638  -5.427 -0.719   1.938 -0.650  ... -0.134 -1.696  0.295  0.403  0.623
T20  0.888  -1.644  0.085  -0.307 -0.074  ... -0.035 -0.722 -0.191  0.495  1.023

[20 rows x 2150 columns]

In [102]:
document_numbers = [1, 4, 10]

for document_number in document_numbers:
    top_topics = list(dt_df.columns[np.argsort(-np.absolute(dt_df.iloc[document_number].values))[:3]])
    print('Document #'+str(document_number)+':')
    print('Dominant Topics (top 3):', top_topics)
    print('Paper Summary:')
    print(papers[document_number][:500])
    print('Topic model '+top_topics[0][1:]+':',lsi_bow.show_topic(int(top_topics[0][1:]), topn=20))
    print('Topic model '+top_topics[1][1:]+':',lsi_bow.show_topic(int(top_topics[1][1:]), topn=20))
    print()

Document #1:
Dominant Topics (top 3): ['T2', 'T3', 'T19']
Paper Summary:
The ultimate Soccer database for data analysis and machine learning
What you get:
+25,000 matches
+10,000 players
11 European Countries with their lead championship
Seasons 2008 to 2016
Players and Teams' attributes* sourced from EA Sports' FIFA video game series, including the weekly updates
Team line up with squad formation (X, Y coordinates)
Betting odds from up to 10 providers
Detailed match events (goal types, possession, corner, cross, fouls, cards etc...) for +10,000 matches
*16th Oct 201
Topic model 2: [('player', -0.677578910958172), ('team', -0.3940464304148368), ('goal', -0.23656264928185738), ('zone', -0.15124711306019448), ('file', 0.1352717752315316), ('game', -0.13359756647119775), ('allowed', -0.12940669656171266), ('csv', 0.11046645363578558), ('year', 0.10156555786775204), ('one', 0.09087393933412283), ('date', 0.08701565699597512), ('information', 0.0804350089995299), ('percentage', -0.07627993509599855), ('name', 0.07459330788052514), ('value', 0.07169754845021309), ('individual', -0.06766828687151855), ('taken', -0.06506021662159814), ('scored', -0.06459885393138377), ('relative', -0.05942473486472541), ('time', 0.05763992924033394)]
Topic model 3: [('year', 0.6066476425324451), ('date', -0.2521122438137626), ('file', -0.2301105179088531), ('total', 0.18790975575918087), ('csv', -0.15496077804136865), ('one', -0.15379966195785308), ('registration', -0.14983257418264562), ('zero', -0.14495064736824229), ('start', -0.1417260644472022), ('application', -0.13396177541110163), ('time', -0.13204114910014622), ('given', 0.12287379909988017), ('position', -0.11903978091156583), ('numeric', -0.11866454317357562), ('containing', -0.11546119074012208), ('energy', 0.10716218091695022), ('text', -0.10357211852273053), ('state', 0.0950605060488379), ('element', -0.09412418384076568), ('child', 0.08843306485651935)]

Document #4:
Dominant Topics (top 3): ['T2', 'T6', 'T7']
Paper Summary:
Context
Bitcoin is the longest running and most well known cryptocurrency, first released as open source in 2009 by the anonymous Satoshi Nakamoto. Bitcoin serves as a decentralized medium of digital exchange, with transactions verified and recorded in a public distributed ledger (the blockchain) without the need for a trusted record keeping authority or central intermediary. Transaction blocks contain a SHA-256 cryptographic hash of previous transaction blocks, and are thus "chained" together,
Topic model 2: [('player', -0.677578910958172), ('team', -0.3940464304148368), ('goal', -0.23656264928185738), ('zone', -0.15124711306019448), ('file', 0.1352717752315316), ('game', -0.13359756647119775), ('allowed', -0.12940669656171266), ('csv', 0.11046645363578558), ('year', 0.10156555786775204), ('one', 0.09087393933412283), ('date', 0.08701565699597512), ('information', 0.0804350089995299), ('percentage', -0.07627993509599855), ('name', 0.07459330788052514), ('value', 0.07169754845021309), ('individual', -0.06766828687151855), ('taken', -0.06506021662159814), ('scored', -0.06459885393138377), ('relative', -0.05942473486472541), ('time', 0.05763992924033394)]
Topic model 6: [('numeric', 0.7737103058328608), ('text', 0.4993476682927095), ('csv', -0.27244942185952215), ('integer', -0.11130023051204573), ('word', 0.06894308219253854), ('date', -0.06198646452424762), ('file', -0.05364781371846869), ('open', 0.051067712551731204), ('time', -0.04455174645642765), ('food', 0.042626416640394786), ('movie', -0.042405335415046826), ('language', 0.03900505452131897), ('product', 0.03899985454687244), ('student', 0.036781790937351205), ('number', -0.03647304030058715), ('one', -0.035450279410746126), ('registration', -0.035042266957650656), ('database', 0.03453239442243826), ('zero', -0.0341555466525183), ('use', 0.03384596864927049)]

Document #10:
Dominant Topics (top 3): ['T2', 'T16', 'T3']
Paper Summary:
These files contain complete loan data for all loans issued through the 2007-2015, including the current loan status (Current, Late, Fully Paid, etc.) and latest payment information. The file containing loan data through the "present" contains complete loan data for all loans issued through the previous completed calendar quarter. Additional features include credit scores, number of finance inquiries, address including zip codes, and state, and collections among others. The file is a matrix of a
Topic model 2: [('player', -0.677578910958172), ('team', -0.3940464304148368), ('goal', -0.23656264928185738), ('zone', -0.15124711306019448), ('file', 0.1352717752315316), ('game', -0.13359756647119775), ('allowed', -0.12940669656171266), ('csv', 0.11046645363578558), ('year', 0.10156555786775204), ('one', 0.09087393933412283), ('date', 0.08701565699597512), ('information', 0.0804350089995299), ('percentage', -0.07627993509599855), ('name', 0.07459330788052514), ('value', 0.07169754845021309), ('individual', -0.06766828687151855), ('taken', -0.06506021662159814), ('scored', -0.06459885393138377), ('relative', -0.05942473486472541), ('time', 0.05763992924033394)]
Topic model 16: [('race', -0.22872344366458364), ('fire', -0.2231388391823038), ('user', -0.2222971221159055), ('station', 0.1980886197468324), ('word', -0.19015901320077047), ('point', -0.17797854363230017), ('image', -0.17617319805694523), ('name', -0.15545399504070395), ('child', -0.1534954586092869), ('feature', 0.15259011089725077), ('game', 0.1520167765260759), ('taken', -0.13944439777972517), ('time', -0.12973383610412498), ('team', -0.125417406509159), ('unit', -0.1142553246125783), ('match', 0.10845715681357088), ('language', -0.10729404559005745), ('file', -0.10607955244760199), ('state', -0.1056088880063532), ('player', 0.10239704493571669)]

## Topic Models with Latent Dirichlet Allocation (LDA)

In [103]:
%%time
from sklearn.decomposition import LatentDirichletAllocation

lda_model = LatentDirichletAllocation(n_components =TOTAL_TOPICS, max_iter=500, max_doc_update_iter=50,
                                      learning_method='online', batch_size=1740, learning_offset=50., 
                                      random_state=42, n_jobs=16)
document_topics = lda_model.fit_transform(cv_features)

CPU times: user 1min 1s, sys: 8.83 s, total: 1min 10s
Wall time: 7min 56s

In [104]:
topic_terms = lda_model.components_
topic_key_term_idxs = np.argsort(-np.absolute(topic_terms), axis=1)[:, :top_terms] #20
topic_keyterms = vocabulary[topic_key_term_idxs]
topics = [', '.join(topic) for topic in topic_keyterms]
pd.set_option('display.max_colwidth', -1)
topics_df = pd.DataFrame(topics,
                         columns = ['Terms per Topic'],
                         index=['Topic'+str(t) for t in range(1, TOTAL_TOPICS+1)])
topics_df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  """

                                                                                                                                                                                                                    Terms per Topic
Topic1   image, file, one, time, wa, contains, acknowledgement, inspiration, day, like, using, would, feature, used, set, see, available, column, label, different
Topic2   image, wa, time, text, survey, csv, acknowledgement, using, file, statistic, open, ha, numeric, set, value, price, http, learning, database, paper
Topic3   player, csv, team, game, file, wa, http, user, movie, time, match, com, number, ha, www, information, http www, set, id, rating
Topic4   context data, love, claim, basic, stats, inspiration, filed, al, east, acknowledgement, modification, john, lost, player, sometimes, file, contains, number, ha, year
Topic5   wa, state, year, information, acknowledgement, time, number, country, ha, available, inspiration, national, source, public, date, record, report, survey, includes, world
Topic6   text, word, language, file, corpus, id, http, use, wa, title, contains, article, license, question, english, page, name, org, author, collection
Topic7   set, data set, value, column, activity, wa, mean, energy, model, sample, feature, using, use, used, research, sensor, attribute, system, temperature, specie
Topic8   com, http, tweet, github, github com, twitter, http github, vector, http www, www, word, nltk, model, kaggle, acknowledgement, found, zip, code, tree, used
Topic9   year, age, type, month, animal, rate, sex, male, female, outcome, bank, birth, name, credit, number, payment, set, amount, usd, data set
Topic10  model, trained, de, pre, pre trained, trained model, feature, network, ha, depth, layer, deep, architecture, time, image, learned, large, en, model pre, learned feature
Topic11  csv, name, code, map, city, open, latitude, longitude, number, street, district, india, open data, country, coordinate, crime, http, contains, license, acknowledgement
Topic12  variable, integer, customer, attribute, categorical, datasets, park, original, file, bird, credit, german, http, continuous, one, good, two, form, version, ml
Topic13  back, lower, air, sound, may, low, flight, mile, cause, distance, body, problem, go, normal, taking, smaller, month, large, might, probability
Topic14  others, data science, community, world, science, inspiration, inspiration data, acknowledgement, question, thanks, answered, research, want, want see, largest, world largest, science community, past research, see, past
Topic15  space, solar, earth, sun, node, nasa, near, total, occur, center, flight, possible, cover, completely, experience, one, two, acknowledgement, type, location
Topic16  health, google, search, interest, care, condition, related, top, tech, highest, increase, towards, based, worldwide, volume, predictor, pressure, ongoing, cover, similarity
Topic17  new, york, new york, school, city, numeric, student, uci, york city, job, education, learning, http, edu, machine learning, machine, ml, grade, archive, http archive
Topic18  price, description, review, doe, yet, dataset doe, doe description, description yet, company, product, sale, stock, property, car, market, restaurant, date, city, total, inspiration
Topic19  university, state, college, california, north, institute, university california, san, technology, new, francisco, south, john, washington, st, andrew, international, county, science, community
Topic20  txt, instance, cell, group, cancer, number, medical, attribute, hospital, method, application, expression, missing, size, pp, call, body, removed, set, flow

In [105]:
pd.options.display.float_format = '{:,.3f}'.format
dt_df = pd.DataFrame(document_topics, 
                     columns=['T'+str(i) for i in range(1, TOTAL_TOPICS+1)])
dt_df.T

        0     1     2     3     4     5  ...  2144  2145  2146  2147  2148  2149
T1  0.416 0.214 0.413 0.067 0.226 0.109  ... 0.008 0.001 0.764 0.002 0.720 0.001
T2  0.000 0.000 0.000 0.000 0.000 0.000  ... 0.008 0.001 0.001 0.002 0.001 0.001
T3  0.000 0.775 0.291 0.070 0.267 0.361  ... 0.008 0.851 0.001 0.002 0.001 0.001
T4  0.000 0.000 0.000 0.000 0.000 0.000  ... 0.008 0.001 0.001 0.002 0.030 0.001
T5  0.000 0.000 0.268 0.764 0.210 0.321  ... 0.008 0.001 0.001 0.002 0.001 0.383
T6  0.072 0.000 0.000 0.080 0.000 0.070  ... 0.008 0.001 0.001 0.966 0.001 0.001
T7  0.324 0.000 0.000 0.000 0.000 0.022  ... 0.008 0.001 0.001 0.002 0.001 0.001
T8  0.000 0.000 0.000 0.000 0.000 0.000  ... 0.008 0.001 0.047 0.002 0.001 0.001
T9  0.000 0.000 0.025 0.000 0.000 0.000  ... 0.008 0.001 0.001 0.002 0.226 0.575
T10 0.024 0.000 0.000 0.000 0.000 0.000  ... 0.008 0.001 0.001 0.002 0.001 0.001
T11 0.000 0.000 0.000 0.000 0.000 0.010  ... 0.008 0.132 0.118 0.002 0.001 0.001
T12 0.088 0.000 0.000 0.000 0.000 0.000  ... 0.842 0.001 0.059 0.002 0.001 0.001
T13 0.000 0.008 0.000 0.000 0.000 0.000  ... 0.008 0.001 0.001 0.002 0.001 0.001
T14 0.000 0.000 0.000 0.000 0.000 0.000  ... 0.008 0.001 0.001 0.002 0.001 0.001
T15 0.000 0.000 0.000 0.000 0.000 0.000  ... 0.008 0.001 0.001 0.002 0.001 0.001
T16 0.000 0.000 0.000 0.003 0.000 0.000  ... 0.008 0.001 0.001 0.002 0.001 0.023
T17 0.000 0.000 0.000 0.000 0.000 0.025  ... 0.008 0.001 0.001 0.002 0.001 0.001
T18 0.069 0.000 0.000 0.000 0.291 0.067  ... 0.008 0.001 0.001 0.002 0.001 0.001
T19 0.000 0.000 0.000 0.014 0.000 0.000  ... 0.008 0.001 0.001 0.002 0.001 0.001
T20 0.000 0.000 0.000 0.000 0.000 0.013  ... 0.008 0.001 0.001 0.002 0.001 0.001

[20 rows x 2150 columns]

In [106]:
pd.options.display.float_format = '{:,.5f}'.format
pd.set_option('display.max_colwidth', 200)

max_contrib_topics = dt_df.max(axis=0)
dominant_topics = max_contrib_topics.index
contrib_perc = max_contrib_topics.values
document_numbers = [dt_df[dt_df[t] == max_contrib_topics.loc[t]].index[0]
                       for t in dominant_topics]
documents = [papers[i] for i in document_numbers]

results_df = pd.DataFrame({'Dominant Topic': dominant_topics, 'Contribution %': contrib_perc,
                          'Paper Num': document_numbers, 'Topic': topics_df['Terms per Topic'], 
                          'Paper Name': documents})
results_df

        Dominant Topic  ...                                                                                                                                                                                               Paper Name
Topic1              T1  ...  Context\nWhile studying neural networks in machine learning, I found an ingenious 2-D scatter pattern at the cn231 course by Andrej Karpathy. Decision boundaries for the three classes of points ca...
Topic2              T2  ...                                                                                                                                                                                                      nan
Topic3              T3  ...  Context\nThis dataset was built as a supplementary to "[European Soccer Database][1]". It includes data dictionary, extraction of detailed match information previously contains in XML columns.\nCo...
Topic4              T4  ...          Context\nData of hitters in MLB's AL East\nContent\nBasic fundamental data on AL East hitters sorted descending by Plate Appearances\nAcknowledgements\nInspiration\nI love baseball and stats.
Topic5              T5  ...  Context:\nMapping the Klan is a rough timeline of the rise of the second Ku Klux Klan between 1915 and 1940. Each red dot shows a local unit or "Klavern." The official numbers for each Klavern ind...
Topic6              T6  ...  Context:\nSome words, like “the” or “and” in English, are used a lot in speech and writing. For most Natural Language Processing applications, you will want to remove these very frequent words. Th...
Topic7              T7  ...  This research study was conducted to analyze the (potential) relationship between hardware and data set sizes. 100 data scientists from France between Jan-2016 and Aug-2016 were interviewed in ord...
Topic8              T8  ...  Context\nThe maxent_ne_chunker contains two pre-trained English named entity chunkers trained on an ACE corpus (perhaps ACE ACE 2004 Multilingual Training Corpus?)\nIt will load an nltk.chunk.name...
Topic9              T9  ...  Context\nThe Austin Animal Center is the largest no-kill animal shelter in the United States that provides care and shelter to over 18,000 animals each year and is involved in a range of county, c...
Topic10            T10  ...  InceptionV3\nRethinking the Inception Architecture for Computer Vision\nConvolutional networks are at the core of most state-of-the-art computer vision solutions for a wide variety of tasks. Since...
Topic11            T11  ...  Context\nOpenAddresses's goal is to connect the digital and physical worlds by sharing geographic coordinates, street names, house numbers and postal codes.\nContent\nThis dataset contains one dat...
Topic12            T12  ...  First of all, this dataset is not mine!\nI just want to use this dataset to approve my machine learning skills.\nSo I upload this one! :-)\nHope you like it!\n=====================================...
Topic13            T13  ...  310 Observations, 13 Attributes (12 Numeric Predictors, 1 Binary Class Attribute - No Demographics)\nLower back pain can be caused by a variety of problems with any parts of the complex, interconn...
Topic14            T14  ...  Context\nNothing ruins the thrill of buying a brand new car more quickly than seeing your new insurance bill. The sting’s even more painful when you know you’re a good driver. It doesn’t seem fair...
Topic15            T15  ...  Context\nEclipses of the sun can only occur when the moon is near one of its two orbital nodes during the new moon phase. It is then possible for the Moon's penumbral, umbral, or antumbral shadows...
Topic16            T16  ...                                                     The top "how to" related searches on Google from 2004 to 2017 worldwide. Top searches are searches with the highest search interest based on volume.
Topic17            T17  ...  Context:\nThe City of New York issues Certificates of Occupancy to newly constructed (and newly reconstructed, e.g. “gut renovated”) buildings in New York City. These documents assert that the cit...
Topic18            T18  ...  About This Data\nThis is a list of over 18,000 restaurants in the US that serve vegetarian or vegan food provided by Datafiniti's Business Database. The dataset includes address, city, state, busi...
Topic19            T19  ...  Context\nData was grabbed from US-News: https://www.usnews.com\nThe following data points are included in this data set:\nRanking\nAcceptance-Rate\nAct-Avg\nSat-Avg\nPhoto\nCost after Financial Ai...
Topic20            T20  ...  Context\nThis breast cancer databases was obtained from the University of Wisconsin Hospitals, Madison from Dr. William H. Wolberg.\nContent\nPast Usage:\nAttributes 2 through 10 have been used to...

[20 rows x 5 columns]

## Topic Models with Non-Negative Matrix Factorization (NMF)

In [107]:
%%time
from sklearn.decomposition import NMF

nmf_model = NMF(n_components=TOTAL_TOPICS, solver='cd', max_iter=500,
                random_state=42, alpha=.1, l1_ratio=.85)
document_topics = nmf_model.fit_transform(cv_features)

CPU times: user 4.56 s, sys: 220 ms, total: 4.78 s
Wall time: 4.54 s

In [108]:
topic_terms = nmf_model.components_
topic_key_term_idxs = np.argsort(-np.absolute(topic_terms), axis=1)[:, :top_terms]
topic_keyterms = vocabulary[topic_key_term_idxs]
topics = [', '.join(topic) for topic in topic_keyterms]
pd.set_option('display.max_colwidth', -1)
topics_df = pd.DataFrame(topics,
                         columns = ['Terms per Topic'],
                         index=['Topic'+str(t) for t in range(1, TOTAL_TOPICS+1)])
topics_df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  """

                                                                                                                                                                                  Terms per Topic
Topic1   university, state, college, california, university california, institute, technology, north, new, san, st, south, international, washington, john, school, west, tech, science, chicago
Topic2   http, wa, information, com, set, www, acknowledgement, column, available, source, use, http www, also, ha, inspiration, one, contains, country, data set, match
Topic3   player, team, wa, goal, attempt, taken, weighted, zone, game, allowed, minute, per, average, individual, percentage, scored, relative, point, expected, hit
Topic4   integer, interested, enjoy, much, movie, categorical, people, always, music, interest, preference, lot, item, money, point, thing, life, often, make, time
Topic5   date, element, one, registration, number, zero, time, tag, end, start, application, file, containing, position, code, mark, version, field, section, status
Topic6   year, total, given, population, energy, percent, million, state, consumption, net, average, usd, billion, old, year year, rate, age, expenditure, period, people
Topic7   numeric, text, reading, real, reference, open, food, product, student, sensor, database, fact, binary, left, label, school, grade, right, turn, class
Topic8   csv, file, csv file, higher, india, contains, education, row, statistic, ha, name, match, source, one, street, score, like, license, following, included
Topic9   model, trained, pre, pre trained, feature, trained model, network, layer, ha, time, learned, model pre, transferable, learned feature, deep, architecture, depth, imagenet, large, using
Topic10  value, mean, name, hour, event, monitor, air, site, sample, parameter, number, code, measured, monitoring, summary, day, max, wa, standard, time
Topic11  child, number, name, age, sold, sale, price, month, listed, year, rate, blank, sex, credit, first, transaction, gender, total number, total, last
Topic12  de, en, per, com, le, la, http, number, www, http www, kaggle, kaggle com, ca, ha, datasets, document, index, www kaggle, net, value
Topic13  file, user, movie, id, tag, rating, set, ha, line, data set, use, contains, information, following, tweet, text, title, link, one, org
Topic14  image, label, class, file, contains, zip, sample, pixel, wa, learning, training, one, original, available, set, datasets, used, different, machine, disease
Topic15  word, language, corpus, text, vector, english, speech, wa, use, frequency, contains, using, file, used, sentence, article, one, acknowledgement, information, also
Topic16  fire, state, code, department, unit, name, wa, report, national, area, service, center, united, united state, incident, forest, agency, county, bureau, record
Topic17  race, time, section, point, taken, position, number, team, score, attack, end, length, behind, reach, ranking, result, request, paid, total, run
Topic18  station, feature, file, value, weather, null, non, store, id, ratio, latitude, longitude, csv file, name, day, degree, see, location, contains, date
Topic19  police, crime, woman, section, total, death, case, court, victim, property, district, child, person, act, age, vehicle, actual, ha, incident, chicago
Topic20  health, drug, plan, survey, rating, care, disease, information, part, description, star, product, food, national, name, contains, datasets, measure, variable, type

In [109]:
pd.options.display.float_format = '{:,.3f}'.format
dt_df = pd.DataFrame(document_topics, 
                     columns=['T'+str(i) for i in range(1, TOTAL_TOPICS+1)])
dt_df.head(10)

     T1    T2    T3    T4    T5    T6  ...   T15   T16   T17   T18   T19   T20
0 0.000 0.195 0.000 0.000 0.019 0.000  ... 0.000 0.000 0.063 0.255 0.000 0.026
1 0.000 0.665 0.709 0.047 0.000 0.000  ... 0.000 0.000 0.032 0.025 0.000 0.000
2 0.001 0.476 0.013 0.058 0.089 0.023  ... 0.003 0.002 0.042 0.000 0.000 0.001
3 0.184 0.636 0.000 0.000 0.218 0.000  ... 0.000 0.548 0.210 0.000 0.047 0.178
4 0.000 0.214 0.023 0.000 0.031 0.000  ... 0.000 0.016 0.128 0.013 0.006 0.000
5 0.010 0.357 0.067 0.038 0.031 0.035  ... 0.000 0.070 0.143 0.187 0.000 0.375
6 0.000 0.088 0.008 0.000 0.002 0.000  ... 0.026 0.000 0.000 0.005 0.000 0.000
7 0.000 0.101 0.000 0.000 0.013 0.008  ... 0.007 0.000 0.000 0.011 0.000 0.033
8 0.000 0.193 0.000 0.000 0.110 0.059  ... 0.001 0.000 0.000 0.108 0.000 0.000
9 0.000 0.217 0.001 0.017 0.000 0.011  ... 0.000 0.004 0.128 0.000 0.025 0.167

[10 rows x 20 columns]

In [110]:
pd.options.display.float_format = '{:,.5f}'.format
pd.set_option('display.max_colwidth', 200)

max_score_topics = dt_df.max(axis=0)
dominant_topics = max_score_topics.index
term_score = max_score_topics.values
document_numbers = [dt_df[dt_df[t] == max_score_topics.loc[t]].index[0]
                       for t in dominant_topics]
documents = [papers[i] for i in document_numbers]

results_df = pd.DataFrame({'Dominant Topic': dominant_topics, 'Max Score': term_score,
                          'Paper Num': document_numbers, 'Topic': topics_df['Terms per Topic'], 
                          'Paper Name': documents})
results_df

        Dominant Topic  ...                                                                                                                                                                                               Paper Name
Topic1              T1  ...  Context\nData was grabbed from US-News: https://www.usnews.com\nThe following data points are included in this data set:\nRanking\nAcceptance-Rate\nAct-Avg\nSat-Avg\nPhoto\nCost after Financial Ai...
Topic2              T2  ...  About the Missing Migrants Data\nThis data is sourced from the International Organization for Migration. The data is part of a specific project called the Missing Migrants Project which tracks dea...
Topic3              T3  ...  Context & Content\nThis dataset features the salaries of 874 nhl players for the 2016/2017 season. I have randomly split the players into a training (612 players) and test (262 players) population...
Topic4              T4  ...  Introduction\nIn 2013, students of the Statistics class at FSEV UK were asked to invite their friends to participate in this survey.\nThe data file (responses.csv) consists of 1010 rows and 150 co...
Topic5              T5  ...  Context:\nThis dataset contains pending and registered trademark text data (no drawings/images) to include word mark, serial number, registration number, filing date, registration date, goods and ...
Topic6              T6  ...  The purpose of this data set is to allow exploration between various types of data that is commonly collected by the US government across the states and the USA as a whole. The data set consists o...
Topic7              T7  ...  A food products database\nOpen Food Facts is a free, open, collbarative database of food products from around the world, with ingredients, allergens, nutrition facts and all the tidbits of informa...
Topic8              T8  ...  Connect/Follow me on LinkedIn for more updates on interesting dataset like this. Thanks.\nContext\nMinistry of Human Resource Development (MHRD), Govt of India has initiated an All India Survey on...
Topic9              T9  ...  DenseNet-201\nDensely Connected Convolutional Networks\nRecent work has shown that convolutional networks can be substantially deeper, more accurate, and efficient to train if they contain shorter...
Topic10            T10  ...  Context:\nThe Environmental Protection Agency (EPA) creates air quality trends using measurements from monitors located across the country. All of this data comes from EPA’s Air Quality System (AQ...
Topic11            T11  ...  Context\nAbraham Lincoln's election produced Southern secession, war, and abolition. This dataset was used to study connections between news and slave prices for the period 1856-1861. By August 18...
Topic12            T12  ...  «Datasets per la comparació de moviments i patrons entre els principals índexs borsatils espanyols i les crypto-monedes»\nContext\nEn aquest cas el context és detectar o preveure els diferents mov...
Topic13            T13  ...  Summary\nThis dataset (ml-20m) describes 5-star rating and free-text tagging activity from MovieLens, a movie recommendation service. It contains 20000263 ratings and 465564 tag applications acros...
Topic14            T14  ...  NIH Chest X-ray Dataset\nNational Institutes of Health Chest X-Ray Dataset\nChest X-ray exams are one of the most frequent and cost-effective medical imaging examinations available. However, clini...
Topic15            T15  ...  Context\nHuman communication abilities have greatly evolved with time. Speech/Text/Images/Videos are the channels we often use to communicate, store/share information."Text" is one of the primary ...
Topic16            T16  ...  Context:\nThis data publication contains a spatial database of wildfires that occurred in the United States from 1992 to 2015. It is the third update of a publication originally generated to suppo...
Topic17            T17  ...  Can you beat the market?\nHorse racing has always intrigued me - not so much from the point of view as a sport, but more from the view of it as a money market. Inspired by the pioneers of computer...
Topic18            T18  ...  Version 5 Description\nTLDR\nThe directory 1-1-16_5-31-17_Weather contains 1663 files (one for each of the 1663 stations in Japan)\nAs its name implies, the data is from the same date window as th...
Topic19            T19  ...  Connect/Follow me on LinkedIn for more updates on interesting dataset like this. Thanks.\nContext\nThis dataset contains complete information about various aspects of crimes happened in India from...
Topic20            T20  ...  Context\nHealth care in the United States is provided by many distinct organizations. Health care facilities are largely owned and operated by private sector businesses. 58% of US community hospit...

[20 rows x 5 columns]

# Persisting Model and Transformers

This is just for visualizing the topics in the other notebook (since PyLDAViz expands the notebook size)

In [112]:
import dill

with open('nmf_model.pkl', 'wb') as f:
    dill.dump(nmf_model, f)
with open('cv_features.pkl', 'wb') as f:
    dill.dump(cv_features, f)
with open('cv.pkl', 'wb') as f:
    dill.dump(cv, f)

# Ch06d - Visualizing Topic Models with pyLDAvis.ipynb

In [114]:
!pip install pyLDAvis

Collecting pyLDAvis
  Downloading https://files.pythonhosted.org/packages/a5/3a/af82e070a8a96e13217c8f362f9a73e82d61ac8fff3a2561946a97f96266/pyLDAvis-2.1.2.tar.gz (1.6MB)
     |████████████████████████████████| 1.6MB 2.8MB/s
Requirement already satisfied: wheel>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from pyLDAvis) (0.34.2)
Requirement already satisfied: numpy>=1.9.2 in /usr/local/lib/python3.6/dist-packages (from pyLDAvis) (1.18.5)
Requirement already satisfied: scipy>=0.18.0 in /usr/local/lib/python3.6/dist-packages (from pyLDAvis) (1.4.1)
Requirement already satisfied: pandas>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from pyLDAvis) (1.0.5)
Requirement already satisfied: joblib>=0.8.4 in /usr/local/lib/python3.6/dist-packages (from pyLDAvis) (0.16.0)
Requirement already satisfied: jinja2>=2.7.2 in /usr/local/lib/python3.6/dist-packages (from pyLDAvis) (2.11.2)
Requirement already satisfied: numexpr in /usr/local/lib/python3.6/dist-packages (from pyLDAvis) (2.7.1)
Requirement already satisfied: pytest in /usr/local/lib/python3.6/dist-packages (from pyLDAvis) (3.6.4)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from pyLDAvis) (0.16.0)
Collecting funcy
  Downloading https://files.pythonhosted.org/packages/ce/4b/6ffa76544e46614123de31574ad95758c421aae391a1764921b8a81e1eae/funcy-1.14.tar.gz (548kB)
     |████████████████████████████████| 552kB 17.9MB/s
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.17.0->pyLDAvis) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.17.0->pyLDAvis) (2018.9)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2>=2.7.2->pyLDAvis) (1.1.1)
Requirement already satisfied: pluggy<0.8,>=0.5 in /usr/local/lib/python3.6/dist-packages (from pytest->pyLDAvis) (0.7.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from pytest->pyLDAvis) (1.15.0)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.6/dist-packages (from pytest->pyLDAvis) (1.4.0)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from pytest->pyLDAvis) (8.4.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from pytest->pyLDAvis) (49.2.0)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from pytest->pyLDAvis) (1.9.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.6/dist-packages (from pytest->pyLDAvis) (19.3.0)
Building wheels for collected packages: pyLDAvis, funcy
  Building wheel for pyLDAvis (setup.py) ... done
  Created wheel for pyLDAvis: filename=pyLDAvis-2.1.2-py2.py3-none-any.whl size=97711 sha256=b920c9aa31ce1fd04349b206e8fd3a5714a8245fdcca3f603a8a2ff700953c69
  Stored in directory: /root/.cache/pip/wheels/98/71/24/513a99e58bb6b8465bae4d2d5e9dba8f0bef8179e3051ac414
  Building wheel for funcy (setup.py) ... done
  Created wheel for funcy: filename=funcy-1.14-py2.py3-none-any.whl size=32042 sha256=45858e232b86e35ade290994127177ddb0b1f039494b9eb416abaf7cd8bf9561
  Stored in directory: /root/.cache/pip/wheels/20/5a/d8/1d875df03deae6f178dfdf70238cca33f948ef8a6f5209f2eb
Successfully built pyLDAvis funcy
Installing collected packages: funcy, pyLDAvis
Successfully installed funcy-1.14 pyLDAvis-2.1.2

In [115]:
import pyLDAvis
import pyLDAvis.sklearn
import dill
import warnings

warnings.filterwarnings('ignore')
pyLDAvis.enable_notebook()

In [116]:
with open('nmf_model.pkl', 'rb') as f:
    nmf_model = dill.load(f)
with open('cv_features.pkl', 'rb') as f:
    cv_features = dill.load(f)
with open('cv.pkl', 'rb') as f:
    cv = dill.load(f)

In [117]:
import pandas as pd
import numpy as np

top_terms = 20
TOTAL_TOPICS = 20
vocabulary = np.array(cv.get_feature_names())
topic_terms = nmf_model.components_
topic_key_term_idxs = np.argsort(-np.absolute(topic_terms), axis=1)[:, :top_terms]
topic_keyterms = vocabulary[topic_key_term_idxs]
topics = [', '.join(topic) for topic in topic_keyterms]
pd.set_option('display.max_colwidth', -1)
topics_df = pd.DataFrame(topics,
                         columns = ['Terms per Topic'],
                         index=['Topic'+str(t) for t in range(1, TOTAL_TOPICS+1)])
topics_df

                                                                                                                                                                                  Terms per Topic
Topic1   university, state, college, california, university california, institute, technology, north, new, san, st, south, international, washington, john, school, west, tech, science, chicago
Topic2   http, wa, information, com, set, www, acknowledgement, column, available, source, use, http www, also, ha, inspiration, one, contains, country, data set, match
Topic3   player, team, wa, goal, attempt, taken, weighted, zone, game, allowed, minute, per, average, individual, percentage, scored, relative, point, expected, hit
Topic4   integer, interested, enjoy, much, movie, categorical, people, always, music, interest, preference, lot, item, money, point, thing, life, often, make, time
Topic5   date, element, one, registration, number, zero, time, tag, end, start, application, file, containing, position, code, mark, version, field, section, status
Topic6   year, total, given, population, energy, percent, million, state, consumption, net, average, usd, billion, old, year year, rate, age, expenditure, period, people
Topic7   numeric, text, reading, real, reference, open, food, product, student, sensor, database, fact, binary, left, label, school, grade, right, turn, class
Topic8   csv, file, csv file, higher, india, contains, education, row, statistic, ha, name, match, source, one, street, score, like, license, following, included
Topic9   model, trained, pre, pre trained, feature, trained model, network, layer, ha, time, learned, model pre, transferable, learned feature, deep, architecture, depth, imagenet, large, using
Topic10  value, mean, name, hour, event, monitor, air, site, sample, parameter, number, code, measured, monitoring, summary, day, max, wa, standard, time
Topic11  child, number, name, age, sold, sale, price, month, listed, year, rate, blank, sex, credit, first, transaction, gender, total number, total, last
Topic12  de, en, per, com, le, la, http, number, www, http www, kaggle, kaggle com, ca, ha, datasets, document, index, www kaggle, net, value
Topic13  file, user, movie, id, tag, rating, set, ha, line, data set, use, contains, information, following, tweet, text, title, link, one, org
Topic14  image, label, class, file, contains, zip, sample, pixel, wa, learning, training, one, original, available, set, datasets, used, different, machine, disease
Topic15  word, language, corpus, text, vector, english, speech, wa, use, frequency, contains, using, file, used, sentence, article, one, acknowledgement, information, also
Topic16  fire, state, code, department, unit, name, wa, report, national, area, service, center, united, united state, incident, forest, agency, county, bureau, record
Topic17  race, time, section, point, taken, position, number, team, score, attack, end, length, behind, reach, ranking, result, request, paid, total, run
Topic18  station, feature, file, value, weather, null, non, store, id, ratio, latitude, longitude, csv file, name, day, degree, see, location, contains, date
Topic19  police, crime, woman, section, total, death, case, court, victim, property, district, child, person, act, age, vehicle, actual, ha, incident, chicago
Topic20  health, drug, plan, survey, rating, care, disease, information, part, description, star, product, food, national, name, contains, datasets, measure, variable, type

In [118]:
pyLDAvis.sklearn.prepare(nmf_model, cv_features, cv, mds='mmds')

ValidationError: ignored

In [119]:
pyLDAvis.sklearn.prepare(nmf_model, cv_features, cv, mds='tsne')

ValidationError: ignored

In [ ]:
pyLDAvis.sklearn.prepare(nmf_model, cv_features, cv, mds='pcoa')